<form id="form-add-supplier">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['fantasy_name']?>:</label>
			<input type="text" class="form-control" name="fantasy_name" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['payment_method']?>:</label>
			<select class="form-control" name="payment_mtd_id" onkeydown="preventSubmit(event)">
				<?php if ($payment_methods): ?>
					<?php foreach ($payment_methods as $key => $payment_method): ?>
						<option value="<?=$payment_method['id']?>"><?=$payment_method['name']?></option>
					<?php endforeach; ?>	
				<?php endif; ?>	
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['register_number']?>:</label>
			<input type="text" class="form-control" name="register_number" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['info']?>:</label>
			<input type="text" class="form-control" name="info" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doAddProduct(e);
		e.preventDefault();
		return false;
	}
}
</script>