<ul class="menu-bar">
    <li class="<?=set_active(['customers/add', 'customers/update'])?>">
        <a href="<?=WWWROOT?>/customers/add"><?=$_lang['register']?></a>
    </li>
    <li class="<?=set_active(['customers/index'])?>">
        <a href="<?=WWWROOT?>/customers/index"><?=$_lang['list']?></a>
    </li>
    <li class="<?=set_active(['customers/discounts'])?>">
        <a href="<?=WWWROOT?>/customers/discounts"><?=$_lang['discounts']?></a>
    </li>
    <li class="<?=set_active(['customers/customer_groups'])?>">
        <a href="<?=WWWROOT?>/customers/customer_groups"><?=$_lang['groups']?></a>
    </li>
    <!-- <li>
        <a href="<?=WWWROOT?>/customers/gift_cards">Cartões de presente</a>
    </li> -->
</ul>