<style type="text/css">
.navbar-nav {
	flex-direction: row;
}
#navbarNav ul li {
	margin-right: 10px;
}
#navbarNav ul li a {
	background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(214,214,214,1);
	-moz-box-shadow: 5px 5px 5px -2px rgba(214,214,214,1);
	box-shadow: 5px 5px 5px -2px rgba(214,214,214,1);
    /*height: 100px;*/
    text-align: center;
    padding: 12px 20px;
}
#navbarNav ul li a i {
	font-size: 20px;
	padding-bottom: 8px;
}
#navbarNav ul li a:hover,
#navbarNav ul li.active a {
	background: #4FC24C;
	color: #fff;
}
</style>
<nav class="navbar navbar-light" style="margin-bottom: 10px; overflow-x: auto;">
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
		<span class="navbar-toggler-icon"></span>
	</button> -->
	<div class="collapse navbar-collapse show" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item <?=set_active(['products'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/products/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['products']?>
				</a>
			</li>
			<li class="nav-item <?=set_active(['/customers/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/customers/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['clients']?>
				</a>
			</li>
			<li class="nav-item <?=set_active(['/departments/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/departments/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['departments']?>
				</a>
			</li>
			<li class="nav-item <?=set_active(['/projects/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/projects/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['projects']?>
				</a>
			</li>
			<li class="nav-item <?=set_active(['/users/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/users/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['users']?>
				</a>
			</li>
			<!-- <li class="nav-item">
				<a class="nav-link <?=set_active(['/warehouse/index'])?>" href="<?= WWWROOT . '/warehouse/index' ?>">
					<i class="fas fa-tag"></i><br>
					Armazém
				</a>
			</li> -->
			<li class="nav-item <?=set_active(['/sizes/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/sizes/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['sizes']?>
				</a>
			</li>
			<li class="nav-item <?=set_active(['/colors/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/colors/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['colors']?>
				</a>
			</li>
			<li class="nav-item <?=set_active(['/suppliers/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/suppliers/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['suppliers']?>
				</a>
			</li>
		</ul>
	</div>
</nav>