<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Easy Step - Point of Sales</title>

<link href="<?=WEBROOT?>/style.css" rel="stylesheet">
<link href="<?=WEBROOT?>/plugins/select2/css/select2.min.css" rel="stylesheet">
<link href="<?=WEBROOT?>/plugins/colorbox/example3/colorbox.css" rel="stylesheet">
<link href="<?=WEBROOT?>/plugins/font-awesome/css/fontawesome.min.css" rel="stylesheet">
<link href="<?=WEBROOT?>/plugins/font-awesome/css/all.min.css" rel="stylesheet">

<link href="<?=WEBROOT?>/css/jquery-ui-blitzer/jquery-ui.css" rel="stylesheet">

<link href="<?=WEBROOT?>/plugins/keyboard/css/keyboard.css" rel="stylesheet">
<link href="<?=WEBROOT?>/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
<!-- <link href="<?=WEBROOT?>/plugins/keyboard/css/keyboard-basic.css" rel="stylesheet"> -->
<style type="text/css">
.loader {
  display: none;
}
.modal-backdrop {
    opacity:0.5 !important;
}
.loading-overlay {
	z-index: 2000 !important;
}
/* default button definitions */
.btn {
	font-size: 13px;
}
.btn-primary {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
	background: rgb(122,188,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(122,188,255,1) 0%, rgba(96,171,248,1) 44%, rgba(64,150,238,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */

}
/* default green gradient system buttons */
.btn-system {
	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f2825b+0,e55b2b+50,f07146+100;Red+3D+%232 */
	background: rgb(242,130,91); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(242,130,91,1) 0%, rgba(229,91,43,1) 50%, rgba(240,113,70,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(242,130,91,1) 0%,rgba(229,91,43,1) 50%,rgba(240,113,70,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2825b', endColorstr='#f07146',GradientType=0 ); /* IE6-9 */

	color: #fff;

    /*background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(59,151,51,1) 0%, rgba(72,179,67,1) 69%, rgba(87,211,87,1) 100%);
    color: #fff;
    font-size: 13px;*/
    /*width: 100px;*/
}
.btn-system:hover {
    color: #fff;
}
.btn-system:active {
    background: rgba(87,211,87,1);
    color: #fff;
}
/* circle buttons */
.btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
}
.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}
.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 6px 9px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-fav {
    align-items:flex-start;
    background-color:rgb(239, 243, 246);
    background-image:linear-gradient(-180deg, rgb(250, 251, 252) 0%, rgb(239, 243, 246) 90%);
    border: 1px solid rgba(27, 31, 35, 0.2);
    box-sizing:border-box;
    color:rgb(36, 41, 46);
    cursor:pointer;
    display:inline-block;
    font-size:10px;
    font-style:normal;
    font-weight:normal;
    height:70px;
    letter-spacing:normal;
    line-height:15px;
    margin: 0 0.3% 8px 0;
    padding: 4px 12px;
    vertical-align:middle;
    white-space:normal;
    width: 11.7%;
}
.btn-fav:hover, .btn.hover {
    background-color: #e6ebf1;
    background-image: linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    background-position: -.5em;
    border-color: rgba(27,31,35,0.35);
}
.btn:hover {
    text-decoration: none;
    background-repeat: repeat-x;
}
.btn-fav.active {
    background: rgba(73,155,234,1);
background: -moz-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(32,124,229,1)));
background: -webkit-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -o-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: -ms-linear-gradient(left, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
background: linear-gradient(to right, rgba(73,155,234,1) 0%, rgba(32,124,229,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 );
color: #fff;
}

.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1510 !important;
  float: left;
  display: none;
  min-width: 160px;
  width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;
}
.ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
    text-decoration: none;
}
.ui-state-hover, .ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
}
.select2-container--default .select2-selection--single {
  border-radius: 0;
}
h4.card-header {
  padding: 12px;
}

/* keyboard buttons */
.ui-keyboard-button {
  font-family: 'Inconsolata', sans-serif !important;
    height: 2em;
    min-width: 2em;
    margin: 2px;
    cursor: pointer;
    overflow: hidden;
    line-height: 2em;
    background: #ececec !important;
    border-radius: 0;
    -moz-user-focus: ignore;
    color: #333 !important;
    border: 1px solid #c0c0c0 !important;
    background-image: linear-gradient(#f4f4f4, #ececec) !important;
    -moz-background-clip: padding;
    background-clip: padding-box;
    border-radius: .2em;
    font-weight: normal !important;
    font-size: 22px !important;
}

.hide {
    display: none;
}
label {
    margin-top: 5px;
    margin-bottom: 5px;
}
input[type=text].form-control, select.form-control, textarea.form-control {
    border-radius: 0;
}
</style>