<ul class="menu-bar">
	<li class="<?=set_active(['products/index'])?>">
		<a href="<?=WWWROOT?>/products/index"><?=$_lang['list']?></a>
	</li>
	<li class="<?=set_active(['products/add', 'products/update'])?>">
		<a href="#"><?=$_lang['products']?></a>
	</li>
	<li class="<?=set_active(['products/groups'])?>">
		<a href="<?=WWWROOT?>/products/groups"><?=$_lang['groups']?></a>
	</li>
	<!-- <li>
		<a href="#"><?=$_lang['units']?></a>
	</li>
	<li>
		<a href="#"><?=$_lang['stock']?></a>
	</li>
	<li>
		<a href="#"><?=$_lang['rules']?></a>
	</li>
	<li>
		<a href="#"><?=$_lang['manufacturers']?></a>
	</li>
	<li>
		<a href="#"><?=$_lang['import']?></a>
	</li>
	<li>
		<a href="#"><?=$_lang['series']?></a>
	</li> -->
</ul>