<!-- <script type="text/javascript" src="<?=WEBROOT?>/plugins/jQuery/jquery-2.2.0.min.js"></script> -->
<script type="text/javascript" src="<?=WEBROOT?>/plugins/jQuery/jquery-3.4.1.min.js"></script>
<script>
	if (typeof module === 'object') {
		window.jQuery = window.$ = module.exports;
	};
	var my_url = "<?php echo WWWROOT ?>";
	// var my_language = "English";

	$(document).ready(function() {
		// $(".loader").fadeOut("fast");
	});
</script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/jQueryUI/jquery-ui.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/Bootstrap/bootstrap.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/PNotify/pnotify.custom.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/DatePicker/bootstrap-datepicker.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/Swiper/horizon-swiper.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/PrintJs/print.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/jQueryMask/jquery.mask.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/jquery-loading/dist/jquery.loading.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/jquery-confirm/js/jquery-confirm.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/gritter/js/jquery.gritter.min.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/select2/js/select2.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/moment/moment.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/colorbox/jquery.colorbox.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/maskMoney/jquery.maskMoney.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/keyboard/js/jquery.keyboard.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/daterangepicker/daterangepicker.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/fit-text/jquery.fittext.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/doubleTap.js"></script>
<!-- <script type="text/javascript" src="<?=WEBROOT?>/plugins/font-awesome/js/fontawesome.js"></script>
<script type="text/javascript" src="<?=WEBROOT?>/plugins/font-awesome/js/all.js"></script> -->

<script type="text/javascript">
// var _lang = JSON.parse('<?=json_encode($_lang)?>');
var _lang = <?=json_encode($_lang)?>;
<?php display_messages2()?>
/* global prototype formatMoney function
*   params: 
*       c (integer): count numbers of digits after sign
*       d (string): decimals sign separator
*       t (string): miles sign separator
*
*   example:
*       (123456789.12345).formatMoney(2, ',', '.');
*           => "123.456.789,12" Latinoamerican moneyFormat
*/
Number.prototype.formatMoney = function(c, d, t){
var n = this, 
    c = isNaN(c = Math.abs(c)) ? 2 : c, 
    d = d == undefined ? "," : d, 
    t = t == undefined ? "." : t, 
    s = n < 0 ? "-" : "", 
    i = parseInt(n = Math.abs(+n || 0).toFixed(c)) + "", 
    j = (j = i.length) > 3 ? j % 3 : 0;
   return s + (j ? i.substr(0, j) + t : "") + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : "");
};

var wwwroot = "<?php echo WWWROOT ?>";
var url_redirect = "";
var array_link = new Array(
    wwwroot + "dashboard/home/index",
    wwwroot + "terminal/terminal/index",
    wwwroot + "sales/cashierClosing/index",
    wwwroot + "Delivery/delivery/index"
);
/*
* Properly parses values
*/
function parse(val, op) {
    var ret = val;

    // filter natural float i.e: 143.25
    if (val.indexOf(',') == -1 && val.indexOf('.') > -1) {
        val = val.replace('.', ',');
    }
    switch (op) {
        case 'float':
        case 'double':
            ret = val.replace('.', '');
            ret = ret.replace(',', '.');
            ret = ret.replace('R$', '');
            ret = ret.trim();
            ret = parseFloat(ret);
            break;
        default:
            break;
    }
    return ret;
}

function goToUrl(url) {
    window.location = wwwroot + '/' + url;
}

// initiates javascript/jQuery definitions
function initJS(test) {
    $('input').not('.no-select').click(function(){
        $(this).select();
    });

    // filter only numbers
    $(".int").keydown(function(event) {
        // Allow: backspace, delete, tab, escape, and enter
        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
             // Allow: Ctrl+A
            (event.keyCode == 65 && event.ctrlKey === true) ||
             // Allow: home, end, left, right
            (event.keyCode >= 35 && event.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        else {
            // Ensure that it is a number and stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode >57) && (event.keyCode < 96 || event.keyCode >105 )) {
                event.preventDefault();
            }
        }
    });

    <?php if ($meta['virtual_keyboard'] == 1):?>
    $('.open-keyboard').keyboard({
        usePreview: false,
    });

    $('.open-keyboard-num').keyboard({
        layout: 'num',
        usePreview: false,
        
    }).bind('accepted', function(e, keyboard, el){
        console.log('trigger');
        var e = $.Event( "keydown", { keyCode: 13 } );
        $(this).trigger(e);
    });
    <?php endif?>
}

$(function(){
    $('.select2').select2({width: '100%'});
    // $('.money').mask("000.000.000.000.000.000,00", {reverse: true});
    $('.date').mask('00/00/0000');
    $('.money').maskMoney({thousands: '.', decimal: ','});
    $('.daterangepicker').daterangepicker({
        "locale": {
            "format": "DD/MM/YYYY",
            "separator": " - ",
            "applyLabel": "Apply",
            "cancelLabel": "Cancel",
            "fromLabel": "From",
            "toLabel": "To",
            "customRangeLabel": "Custom",
            "weekLabel": "W",
            "daysOfWeek": [
                "Su",
                "Mo",
                "Tu",
                "We",
                "Th",
                "Fr",
                "Sa"
            ],
            "monthNames": [
                "January",
                "February",
                "March",
                "April",
                "May",
                "June",
                "July",
                "August",
                "September",
                "October",
                "November",
                "December"
            ],
            "firstDay": 1
        }
    });

    initJS();
});
</script>