<style type="text/css">
.navbar-nav {
	flex-direction: row;
}
#navbarNav ul li {
	margin-right: 10px;
}
#navbarNav ul li a {
	background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 5px 5px 5px -2px rgba(214,214,214,1);
	-moz-box-shadow: 5px 5px 5px -2px rgba(214,214,214,1);
	box-shadow: 5px 5px 5px -2px rgba(214,214,214,1);
    /*height: 100px;*/
    text-align: center;
    padding: 12px 20px;
}
#navbarNav ul li a i {
	font-size: 20px;
	padding-bottom: 8px;
}
#navbarNav ul li a:hover,
#navbarNav ul li.active a {
	background: #4FC24C;
	color: #fff;
}
</style>
<nav class="navbar navbar-light" style="margin-bottom: 10px; overflow-x: auto;">
	<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
		<span class="navbar-toggler-icon"></span>
	</button> -->
	<div class="collapse navbar-collapse show" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item <?=set_active(['/setup/index'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/setup/index' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['company']?>
				</a>
			</li>
			<li class="nav-item <?=set_active(['/terminal'])?>">
				<a class="nav-link" href="<?= WWWROOT . '/terminal/favorite_buttons' ?>">
					<i class="fas fa-tag"></i><br>
					<?=$_lang['terminal']?>
				</a>
			</li>
		</ul>
	</div>
</nav>