
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="<?=set_active(['setup', 'terminal/favorite_buttons', 'terminal/config'])?>">
            <a href="<?=WWWROOT.'/setup/index'?>">
                <span class="lnr lnr-laptop"></span>
                <t class=""><?=$_lang['setup']?></t>
            </a>
        </li>
        <li class="<?=set_active(['entry', 'departments', 'products'])?>">
            <a href="<?php echo WWWROOT.'/products/index'?>">
                <span class="lnr lnr-file-add"></span>
                <t class=""><?=$_lang['entry']?></t>
            </a>
        </li>
        <li class="<?=set_active(['reports/terminal', 'reports/daily_takings'])?>">
            <a href="<?php echo WWWROOT.'/reports/terminal'?>">
                <span class="lnr lnr-pie-chart"></span>
                <t class=""><?=$_lang['reports']?></t>
            </a>
        </li>
    </ul>
</div>
