<ul class="menu-bar">
    <li class="<?=set_active(['terminal/favorite_buttons'])?>">
        <a href="<?=WWWROOT?>/terminal/favorite_buttons"><?=$_lang['favorite_buttons']?></a>
    </li>
    <li class="<?=set_active(['terminal/config'])?>">
        <a href="<?=WWWROOT?>/terminal/config"><?=$_lang['settings']?></a>
    </li>
    <li class="<?=set_active(['terminal/payment_methods'])?>">
        <a href="<?=WWWROOT?>/terminal/payment_methods"><?=$_lang['payment_methods']?></a>
    </li>
    <li class="<?=set_active(['terminal/receipts'])?>">
        <a href="<?=WWWROOT?>/terminal/receipts"><?=$_lang['receipts']?></a>
    </li>
</ul>