<style type="text/css">
ul.main-nav > li.nav-item > a.nav-link {
    background: rgb(66,128,63);
background: linear-gradient(0deg, rgba(66,128,63,1) 2%, rgba(60,164,55,1) 44%, rgba(77,196,72,1) 81%, rgba(86,213,85,1) 100%);
}
ul.main-nav > li.nav-item.active > a.nav-link {
    background: #3ca437;
}
ul.main-nav > li.nav-item:first-child > a {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-bottom-left-radius: 4px;
}
ul.main-nav > li.nav-item:last-child > a {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -moz-border-bottom-right-radius: 4px;
}
/*li.nav-item a.nav-link:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}*/
</style>
<nav class="navbar navbar-top navbar-expand-lg">
    <a class="navbar-brand" href="<?=WWWROOT?>"><img src="<?=WEBROOT?>/images/logo-02.png" class="text-center"></a>
    <!-- <button class="navbar-toggler" type="button">
        <span class="navbar-toggler-icon"></span>
    </button> -->
    <div class="navbar-collapse show w-100 order-2 order-md-0 dual-collapse2">
        <ul class="navbar-nav main-nav mr-auto">
            <li class="nav-item <?php if (!strstr($_SERVER['REQUEST_URI'], 'terminal/index')) echo 'active';?>">
                <a class="nav-link" href="<?=WWWROOT?>/products/index">Admin <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item <?php echo set_active(['terminal/index'])?>">
                <a class="nav-link" href="<?=WWWROOT?>/terminal/index">PDV</a>
            </li>
        </ul>
    </div>
    <div class="navbar-collapse show w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="<?=WWWROOT?>/logout"><?=$_lang['logout']?></a>
            </li>
        </ul>
    </div>
</nav>