<form id="form-update-size">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" value="<?=$size->name?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label>Cógido:</label>
			<input type="text" class="form-control" name="code" value="<?=$size->code?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doUpdateProduct(e, '<?=$size->id?>');
		e.preventDefault();
		return false;
	}
	
}
</script>