<form id="form-add-image" method="POST" enctype="multipart/form-data">
	<input type="hidden" name="product_id" value="<?=$product->id?>">
	<div class="row">
		<div class="col-md-8">
			<label><?=$_lang['file']?>:</label>
			<input type="file" name="path" class="form-control" id="file">
		</div>
		<div class="col-md-4">
			<label><?=$_lang['main']?>: <input type="checkbox" name="main" value="1"></label>
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
});
</script>