<form id="form-add-size-color">
	<input type="hidden" name="product_id" value="<?=$product->id?>">
	<div class="row">
		<div class="col-6">
			<label><?=$_lang['color']?>:</label>
			<select class="select2 form-control" name="color_id">
			<?php if ($colors):?>
			<?php foreach ($colors as $color):?>
				<option value="<?=$color['id']?>"><?=$color['name']?></option>
			<?php endforeach?>
			<?php endif?>
			</select>
		</div>
		<div class="col-6">
			<label><?=$_lang['size']?>:</label>
			<select class="select2 form-control" name="size_id">
			<?php if ($sizes):?>
			<?php foreach ($sizes as $size):?>
				<option value="<?=$size['id']?>"><?=$size['name']?></option>
			<?php endforeach?>
			<?php endif?>
			</select>
		</div>
		<div class="col-3">
			<label><?=$_lang['current_amount']?>:</label>
			<input type="text" class="form-control int" name="current_amount">
		</div>
		<div class="col">
			<label><?=$_lang['supplier_no']?>:</label>
			<input type="text" class="form-control" name="codSupplier">
		</div>
		<div class="col">
			<label><?=$_lang['price']?>:</label>
			<input type="text" class="form-control money" name="price">
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.select2').select2({width: '100%'});
    $('.money').mask("000.000.000.000.000.000,00", {reverse: true});

    // filter only numbers
    $(".int").keydown(function(event) {
        // Allow: backspace, delete, tab, escape, and enter
        if ( event.keyCode == 46 || event.keyCode == 8 || event.keyCode == 9 || event.keyCode == 27 || event.keyCode == 13 || 
             // Allow: Ctrl+A
            (event.keyCode == 65 && event.ctrlKey === true) ||
             // Allow: home, end, left, right
            (event.keyCode >= 35 && event.keyCode <= 39)) {
                 // let it happen, don't do anything
                 return;
        }
        else {
            // Ensure that it is a number and stop the keypress
            if (event.shiftKey || (event.keyCode < 48 || event.keyCode >57) && (event.keyCode < 96 || event.keyCode >105 )) {
                event.preventDefault();
            }
        }
    });
});
</script>