<form id="form-add-wholesale-price">
	<input type="hidden" name="product_id" value="<?=$product->id?>">
	<div class="row">
		<div class="col-md-4">
			<label>Preço Unidade:</label>
			<input type="text" class="form-control money" name="unit_price">
		</div>
		<div class="col-md-2">
			<label>Quantidade:</label>
			<input type="text" class="form-control int" name="qtd">
		</div>
		<div class="col-md-4">
			<label>Preço Total:</label>
			<input type="text" class="form-control money" name="price_for_quantity">
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.money').mask("000.000.000.000.000.000,00", {reverse: true});
});
</script>