<form id="form-add-product-group">
	<input type="hidden" name="product_id" value="<?=$product->id?>">
	<div class="row">
		<div class="col-md-6">
			<label>Grupo:</label>
			<select class="select2 form-control" name="product_group_id">
				<?php if ($groups):?>
				<?php foreach ($groups as $group):?>
				<option value="<?=$group['id']?>"><?=$group['name']?></option>
				<?php endforeach?>
				<?php endif?>
			</select>
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.select2').select2();
});
</script>