<form id="form-add-component">
	<input type="hidden" name="product_id" value="<?=$product->id?>">
	<div class="row">
		<div class="col-6">
			<label><?=$_lang['product_name']?>:</label>
			<input type="text" class="form-control" name="product_name" id="product-search">
			<input type="hidden" name="product_id1" id="product_id1">
		</div>
		<div class="col-6">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name">
		</div>
		<div class="col-2">
			<label><?=$_lang['qty']?>:</label>
			<input type="text" class="form-control int" name="qty">
		</div>
		<div class="col-5">
			<label><?=$_lang['cost_price']?>:</label>
			<input type="text" class="form-control money" name="cost_price">
		</div>
		<div class="col-5">
			<label><?=$_lang['sell_price']?>:</label>
			<input type="text" class="form-control money" name="retail_price">
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.money').mask("000.000.000.000.000.000,00", {reverse: true});
	$('#product-search').keydown(function(e){
		if (e.keyCode == 13) {
			e.preventDefault();
		}
	});
	$('#product-search').autocomplete({
		source: function (request, response) {
			$.ajax({
				url: wwwroot+'/products_async/componentProductSearch',
				dataType: 'json',
				data: {
					term: request.term
				},
				success: function(data) {
					// console.log(data);
					response( data );
				},
				fail: function (a, b, c) {
					console.log(a, b, c);
				}
			});
		},
		minLength: 1,
		select: function( event, ui ) {
			console.log(ui.item.id);
			$('#product_id1').val(ui.item.id);
		}
	});
	$( "#product-search" ).autocomplete( "option", "appendTo", "#form-add-component" );
});
</script>