<form id="form-add-promotional-price">
	<input type="hidden" name="product_id" value="<?=$product->id?>">
	<div class="row">
		<div class="col-md-6">
			<label>Preço Bruto:</label>
			<input type="text" class="form-control money" name="gross_price">
		</div>
		<div class="col-md-6">
			<label>Preço sem Impostos:</label>
			<input type="text" class="form-control money" name="price_without_tax">
		</div>
		<div class="col-md-6">
			<label>Data Inicial:</label>
			<input type="text" class="form-control datepicker" name="initial_date">
		</div>
		<div class="col-md-6">
			<label>Data Final:</label>
			<input type="text" class="form-control datepicker" name="final_date">
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.money').mask("000.000.000.000.000.000,00", {reverse: true});
	$('.uppercase').keyup(function(){
		$(this).val($(this).val().toUpperCase());
	});
	$('.cpf').mask('000.000.000-00');
	$('.datepicker').mask('00/00/0000');
	$('.datepicker').datepicker({
		format: 'dd/mm/yyyy'
	});
});
</script>