<?php if ($components):?>
<?php foreach ($components as $item):?>
<tr>
	<td><?=$item['product_name']?></td>
	<td><?=$item['name']?></td>
	<td><?=$item['qty']?></td>
	<td><?=format_money($item['cost_price'])?></td>
	<td><?=format_money($item['retail_price'])?></td>
	<td><a href="#" onclick="removeComponent(event, '<?=$item['id']?>');" class="text-danger"><?=$_lang['delete']?></a></td>
</tr>
<?php endforeach?>
<?php else:?>
<tr>
	<td colspan="4">Sem resultados</td>
</tr>
<?php endif?>

<script type="text/javascript">
function removeComponent(e, id) {
	e.preventDefault();
	$.confirm({
		title: 'Are you sure?',
		content: 'Are you sure you want to remove promotional price?',
		buttons: {
			confirm: {
				btnClass: 'btn-blue',
				action: function() {
					var url = wwwroot+'/products_async/removeComponent';
					var data = {
						id: id
					};
					var posting = $.post(url, data);
					posting.done(function(data){
						if (data.status.code == 200) {
							loadComponents();
						}
						else {
							$.alert('Internal error', 'Please contact support with code #0977')
						}
					});
				}
			},
			cancel: function() {
				//
			}
		}
	});
}
</script>