<?php if ($size_colors):?>
<?php foreach ($size_colors as $item):?>
<tr>
	<td><?=$item['color_name']?></td>
	<td><?=$item['size_name']?></td>
	<td><?=$item['current_amount']?></td>
	<td><?=$item['codSupplier']?></td>
	<td><?=format_money($item['price'], 'NOK ')?></td>
	<td><a href="#" onclick="removeSizeColor(event, '<?=$item['id']?>');" class="text-danger"><?=$_lang['delete']?></a></td>
</tr>
<?php endforeach?>
<?php else:?>
<tr>
	<td colspan="6">Sem resultados</td>
</tr>
<?php endif?>

<script type="text/javascript">
function removeSizeColor(e, id) {
	e.preventDefault();
	$.confirm({
		title: 'Are you sure?',
		content: 'Are you sure you want to remove this size/color?',
		buttons: {
			confirm: {
				btnClass: 'btn-blue',
				action: function() {
					var url = wwwroot+'/products_async/removeSizeColor';
					var data = {
						id: id
					};
					var posting = $.post(url, data);
					posting.done(function(data){
						if (data.status.code == 200) {
							loadSizeColors();
						}
						else {
							$.alert('Internal error', 'Please contact support with code #0907')
						}
					});
				}
			},
			cancel: function() {
				//
			}
		}
	});
}
</script>