<?php if ($images):?>
<?php foreach ($images as $item):?>
<tr>
	<td>
		<a class="gallery" href="<?=$item['path']?>"><img style="max-width: 120px; max-height: 70px;" src="<?=$item['path']?>"></a>
	</td>
	<td>
	<?php
	if ($item['main'] == '1') {
		echo '<span class="badge badge-success">'.$_lang['yes'].'</span>';
	}
	else {
		echo '<span class="badge badge-danger">'.$_lang['no'].'</span>';
	}
	?>
	</td>
	<td><a href="#" onclick="removeImage(event, '<?=$item['id']?>');" class="text-danger"><?=$_lang['delete']?></a></td>
</tr>
<?php endforeach?>
<?php else:?>
<tr>
	<td colspan="3">Sem resultados</td>
</tr>
<?php endif?>

<script type="text/javascript">
	jQuery('a.gallery').colorbox({'photo':true});
function removeImage(e, id) {
	e.preventDefault();
	$.confirm({
		title: 'Are you sure?',
		content: 'Are you sure you want to remove this image?',
		buttons: {
			confirm: {
				btnClass: 'btn-blue',
				action: function() {
					var url = wwwroot+'/products_async/removeImage';
					var data = {
						id: id
					};
					var posting = $.post(url, data);
					posting.done(function(data){
						console.log(data);
						if (data.status.code == 200) {
							loadImages();
						}
						else {
							$.alert('Internal error', 'Please contact support with code #0797');
						}
					});
				}
			},
			cancel: function() {
				//
			}
		}
	});
}
</script>