<?php if ($groups):?>
<?php foreach ($groups as $item):?>
<tr>
	<td><?=$item['group_name']?></td>
	<td><a href="#" onclick="removeProductGroup(event, '<?=$item['id']?>');" class="text-danger"><?=$_lang['delete']?></a></td>
</tr>
<?php endforeach?>
<?php else:?>
<tr>
	<td colspan="2">Sem resultados</td>
</tr>
<?php endif?>

<script type="text/javascript">
function removeProductGroup(e, id) {
	e.preventDefault();
	$.confirm({
		title: 'Are you sure?',
		content: 'Are you sure you want to remove from this group?',
		buttons: {
			confirm: {
				btnClass: 'btn-blue',
				action: function() {
					var url = wwwroot+'/products_async/removeProductGroup';
					var data = {
						id: id
					};
					var posting = $.post(url, data);
					posting.done(function(data){
						console.log(data);
						if (data.status.code == 200) {
							loadProductGroups();
						}
						else {
							$.alert('Internal error', 'Please contact support with code #0977');
						}
					});
				}
			},
			cancel: function() {
				//
			}
		}
	});
}
</script>