<?php if ($prices):?>
<?php foreach ($prices as $item):?>
<tr>
	<td><?=format_money($item['unit_price'])?></td>
	<td><?=$item['qtd']?></td>
	<td><?=format_money($item['price_for_quantity'])?></td>
	<td><a href="#" onclick="removeWholesalePrice(event, '<?=$item['id']?>');" class="text-danger"><?=$_lang['delete']?></a></td>
</tr>
<?php endforeach?>
<?php else:?>
<tr>
	<td colspan="4">Sem resultados</td>
</tr>
<?php endif?>

<script type="text/javascript">
function removeWholesalePrice(e, id) {
	e.preventDefault();
	$.confirm({
		title: 'Are you sure?',
		content: 'Are you sure you want to remove promotional price?',
		buttons: {
			confirm: {
				btnClass: 'btn-blue',
				action: function() {
					var url = wwwroot+'/products_async/removeWholesalePrice';
					var data = {
						id: id
					};
					var posting = $.post(url, data);
					posting.done(function(data){
						console.log(data);
						if (data.status.code == 200) {
							loadWholesalePrices();
						}
						else {
							$.alert('Internal error', 'Please contact support with code #0977')
						}
					});
				}
			},
			cancel: function() {
				//
			}
		}
	});
}
</script>