<?php if ($promotions):?>
<?php foreach ($promotions as $item):?>
<tr>
	<td><?=format_money($item['gross_price'])?></td>
	<td><?=format_money($item['price_without_tax'])?></td>
	<td><?=format_date($item['initial_date'], 'd/m/Y')?></td>
	<td><?=format_date($item['final_date'], 'd/m/Y')?></td>
	<td><a href="#" onclick="removePromotionalPrice(event, '<?=$item['id']?>');" class="text-danger"><?=$_lang['delete']?></a></td>
</tr>
<?php endforeach?>
<?php else:?>
<tr>
	<td colspan="5">Sem resultados</td>
</tr>
<?php endif?>

<script type="text/javascript">
function removePromotionalPrice(e, id) {
	e.preventDefault();
	$.confirm({
		title: 'Are you sure?',
		content: 'Are you sure you want to remove promotional price?',
		buttons: {
			confirm: {
				btnClass: 'btn-blue',
				action: function() {
					var url = wwwroot+'/products_async/removePromotionalPrice';
					var data = {
						id: id
					};
					var posting = $.post(url, data);
					posting.done(function(data){
						console.log(data);
						if (data.status.code == 200) {
							loadPromotionalPrices();
						}
						else {
							$.alert('Internal error', 'Please contact support with code #0977')
						}
					});
				}
			},
			cancel: function() {
				//
			}
		}
	});
}
</script>