<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
<div class="loader"></div>
<?php get_template('topbar')?>
<?php get_template('sidebar')?>
<div class="container home" style="">
    <div class="row">
        <div class="col-md-12">
            
        </div><!-- /.col -->
        <div class="col-md-12">
            
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <form id="form-login">
                <div class="modal-header">
                    <h3 class="modal-title">Login de Usuário</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="redirect-to" id="redirect-to" style="display: none">
                            <label for="user" class="label-style translate">Escolha o Usuário:</label>
                            <select name="user_id" id="user">
                                <?php foreach ($users as $value):?>
                                <option value="<?=$value['id']?>"><?=$value['login']?></option>
                                <?php endforeach ?>
                            </select>
                            <label id="label-password" for="password-user" class="label-style translate">Password:</label>
                            <input type="password" name="secret" id="password-user" class="form-control">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">Enter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<?php get_template('scripts')?>

<script type="text/javascript"></script>

</body>
</html>