<form id="form-update-group">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" value="<?=$group->name?>" onkeydown="preventSubmit(event)">

			<label><?=$_lang['department']?>:</label>
			<select class="form-control" name="department_id">
				<option></option>
				<?php if ($departments):?>
				<?php foreach ($departments as $item):?>
				<option value="<?=$item['id']?>"><?=$item['name']?></option>
				<?php endforeach?>
				<?php endif?>
			</select>
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doUpdateProduct(e, '<?=$group->id?>');
		e.preventDefault();
		return false;
	}
	
}
</script>