<form id="form-add-project">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['description']?>:</label>
			<input type="text" class="form-control" name="description" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['date_start']?>:</label>
			<input type="text" class="form-control datepicker" name="date_start" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['date_stop']?>:</label>
			<input type="text" class="form-control datepicker" name="date_stop" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['date_end']?>:</label>
			<input type="text" class="form-control datepicker" name="date_end" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['price']?>:</label>
			<input type="text" class="form-control" name="price" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['priceAdditional']?>:</label>
			<input type="text" class="form-control" name="priceAdditional" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doAddProject(e);
		e.preventDefault();
		return false;
	}
}
$('.datepicker').mask('00/00/0000');
$('.datepicker').datepicker({
	format: 'dd/mm/yyyy'
});
</script>