<?php

function date_format_($date) {
	$date = explode(" ", $date);
	$date = explode("-", $date[0]);
	$date = $date[2]."/".$date[1]."/".$date[0];

	return $date;
}

?>
<form id="form-update-project">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" value="<?=$project->name?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['description']?>:</label>
			<input type="text" class="form-control" name="description" value="<?=$project->description?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['date_start']?>:</label>
			<input type="text" class="form-control datepicker" name="date_start" value="<?=date_format_($project->date_start)?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['date_stop']?>:</label>
			<input type="text" class="form-control datepicker" name="date_stop" value="<?=date_format_($project->date_stop)?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['date_end']?>:</label>
			<input type="text" class="form-control datepicker" name="date_end" value="<?=date_format_($project->date_end)?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['price']?>:</label>
			<input type="text" class="form-control" name="price" value="<?=$project->price?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['priceAdditional']?>:</label>
			<input type="text" class="form-control" name="priceAdditional" value="<?=$project->priceAdditional?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doUpdateProject(e, '<?=$project->id?>');
		e.preventDefault();
		return false;
	}
}
$('.datepicker').mask('00/00/0000');
$('.datepicker').datepicker({
	format: 'dd/mm/yyyy'
});
</script>