<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
<div class="loader"></div>
<?php get_template('topbar')?>
<?php get_template('sidebar')?>
<div id="content-wrapper">
    <div class="container-fluid" style="">
        <?php get_template('entry_topbar')?>
        <form action="" method="post">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        Novo Usuário
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <label><?=$_lang['login']?>:</label>
                                <input type="text" name="login" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label><?=$_lang['password']?>:</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            <div class="col-md-4">
                                <label><?=$_lang['type']?>:</label>
                                <select name="users_type_id" class="form-control" required>
                                    <?php if($users_types): ?>
                                        <option value=""></option>
                                        <?php foreach ($users_types as $value): ?>
                                            <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Gênero:</label>
                                <select name="genre" class="form-control">
                                    <option value=""></option>
                                    <option value="0">Masculino</option>
                                    <option value="1">Feminino</option>
                                    <option value="2">Outros</option>
                                </select>
                            </div>
                            <div class="col-md-8">
                                <label>Nome Completo:</label>
                                <input type="text" name="name" class="form-control" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>País:</label>
                                <select name="zz_country_id" class="form-control">
                                    <option value=""></option>
                                    <?php if($countries): ?>
                                        <?php foreach ($countries as $value): ?>
                                            <option value="<?= $value['id'] ?>" <?=$value['id']==1 ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Configurações:</label>
                                <select name="people_settings_id" class="form-control">
                                    <?php if($people_settings): ?>
                                        <option value=""></option>
                                        <?php foreach ($people_settings as $value): ?>
                                            <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Departamento:</label>
                                <select name="department_id" class="form-control">
                                    <?php if($departments): ?>
                                        <option value=""></option>
                                        <?php foreach ($departments as $value): ?>
                                            <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Cargo:</label>
                                <select name="job_id" class="form-control" required>
                                    <?php if($jobs): ?>
                                        <option value=""></option>
                                        <?php foreach ($jobs as $value): ?>
                                            <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Grupo:</label>
                                <select name="customers_gp_id" class="form-control">
                                    <?php if($customer_groups): ?>
                                        <option value=""></option>
                                        <?php foreach ($customer_groups as $value): ?>
                                            <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Método de Pagamento:</label>
                                <select name="payments_mtd_id" class="form-control">
                                    <?php if($payments_mtds): ?>
                                        <option value=""></option>
                                        <?php foreach ($payments_mtds as $value): ?>
                                            <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Tipo Documento:</label>
                                <select name="document_type" class="form-control">
                                    <option value=""></option>
                                    <option value="CPF">CPF</option>
                                    <option value="RG">RG</option>
                                    <option value="CNH">CNH</option>
                                    <option value="Passaporte">Passaporte</option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label>Documento Nº:</label>
                                <input type="text" id="document_number" name="document_number" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>Data de Nascimento:</label>
                                <input type="text" id="birth_date" name="birth_date" class="form-control date">
                            </div>
                            <div class="col-md-4">
                                <label>2º Documento:</label>
                                <input type="text" id="personal_number" name="personal_number" class="form-control">
                            </div>
                            <div class="col-md-4">
                                <label>Contato:</label>
                                <input type="text" id="contact_person" name="contact_person" class="form-control">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label>ID Eletrônico:</label>
                                <input type="text" id="electronic_identification" name="electronic_identification" class="form-control">
                            </div>
                            <div class="col-md-8">
                                <label>Info:</label>
                                <textarea name="info" class="form-control"></textarea>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary">Salvar</button> <div class="btn btn-secondary" onclick="location.href='<?=WWWROOT?>/users/index'">Cancelar</div>
                            </div>
                        </div>
                    </div>
                </div>


                    
            </div><!-- /.col -->
        </div><!-- /.row -->
        </form>
    </div><!-- /.container -->
</div>
<?php get_template('scripts')?>

<script type="text/javascript">
    
</script>

</body>
</html>