<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <div class="row">
                <div class="col-md-12">
                    <!-- product table -->
                    <div class="card" style="height: 78vh; margin-bottom: 8px;">
                        <div class="card-body no-padding" style="overflow-y: auto; position: relative;">
                            <table id="user_table" class="table table-striped table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 50px;">&nbsp;</th>
                                        <th>Usuário</th>
                                        <th>Tipo</th>
                                        <th>Cargo</th>
                                        <th>POS</th>
                                        <th>Nome Completo</th>
                                        <th>Departamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if ($users): ?>
                                        <?php $count = 1; ?>
                                        <?php foreach ($users as $user): ?>
                                            <tr onclick="toggleRow(this)" class="">
                                                <td class="text-center"><input type="radio" class="row_check" name="row_check" value="<?=$user['id']?>"></td>
                                                <td><?=$user['login']?></td>
                                                <td><?=$user['type']?></td>
                                                <td><?=$user['job']?></td>
                                                <td><?=$user['pos']?></td>
                                                <td><?=$user['full_name']?></td>
                                                <td><?=$user['department']?></td>
                                            </tr>
                                            <?php $count++; ?>
                                        <?php endforeach; ?>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-system" onclick="updateUser();">Editar</button>
                                    <a class="btn btn-primary" href="<?=WWWROOT?>/users/add">Criar Usuário</a>
                                </div>
                            </div>      
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.container -->

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content" id="modalContent">
                <form id="form-login">
                    <div class="modal-header">
                        <h3 class="modal-title">Login de Usuário</h3>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <input type="text" name="redirect-to" id="redirect-to" style="display: none">
                                <label for="user" class="label-style translate">Escolha o Usuário:</label>
                                <select name="user_id" id="user">
                                    <?php foreach ($users as $value):?>
                                    <option value="<?=$value['id']?>"><?=$value['login']?></option>
                                    <?php endforeach ?>
                                </select>
                                <label id="label-password" for="password-user" class="label-style translate">Password:</label>
                                <input type="password" name="secret" id="password-user" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Enter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <?php get_template('scripts')?>

    <script type="text/javascript">
    function updateUser() {
        var value = $('input[name=row_check]:checked').val();
        if (!value) {
            return false;
        }
        window.location = wwwroot + '/users/update/'+value;
    }
    function toggleRow(tr) {
        var checkbox = $(tr).find("input[type=radio]");
        checkbox.prop('checked', true);
    }
    </script>

</body>
</html>