<?php

function date_format_($date) {
    $date = explode(" ", $date);
    $date = explode("-", $date[0]);
    $date = $date[2]."/".$date[1]."/".$date[0];

    return $date;
}

?>
<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
<div class="loader"></div>
<?php get_template('topbar')?>
<?php get_template('sidebar')?>
<div class="container" style="">
    <?php get_template('entry_topbar')?>
    <form action="" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Editar Usuário
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Login:</label>
                            <input type="text" name="login" class="form-control" value="<?=$user->login?>" required>
                        </div>
                        <div class="col-md-4">
                            <label>Senha:</label>
                            <input type="password" name="password" class="form-control" value="">
                        </div>
                        <div class="col-md-4">
                            <label>Tipo:</label>
                            <select name="users_type_id" class="form-control" required>
                                <?php if($users_types): ?>
                                    <option value="">--Selecione</option>
                                    <?php foreach ($users_types as $value): ?>
                                        <option value="<?= $value['id'] ?>" <?= $value['id']==$user->users_type_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <label>Nome Completo:</label>
                            <input type="text" name="name" class="form-control" value="<?=$person->name?>" required>
                        </div>
                        <div class="col-md-3">
                            <label>Gênero:</label>
                            <select name="genre" class="form-control">
                                <option value="">--Selecione</option>
                                <option <?= 0===$person->genre ? 'selected' : '' ?> value="0">Masculino</option>
                                <option <?= 1==$person->genre ? 'selected' : '' ?> value="1">Feminino</option>
                                <option <?= 2==$person->genre ? 'selected' : '' ?> value="2">Outros</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>País:</label>
                            <select name="zz_country_id" class="form-control">
                                <option value="">--Selecione</option>
                                <?php if($countries): ?>
                                    <?php foreach ($countries as $value): ?>
                                        <option value="<?= $value['id'] ?>" <?= $value['id']==$country_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Configurações:</label>
                            <select name="people_settings_id" class="form-control">
                                <?php if($people_settings): ?>
                                    <option value="">--Selecione</option>
                                    <?php foreach ($people_settings as $value): ?>
                                        <option value="<?= $value['id'] ?>" <?= $value['id']==$person->people_settings_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Departamento:</label>
                            <select name="department_id" class="form-control">
                                <?php if($departments): ?>
                                    <option value="">--Selecione</option>
                                    <?php foreach ($departments as $value): ?>
                                        <option value="<?= $value['id'] ?>" <?= $value['id']==$person->department_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Cargo:</label>
                            <select name="job_id" class="form-control" required>
                                <?php if($jobs): ?>
                                    <option value="">--Selecione</option>
                                    <?php foreach ($jobs as $value): ?>
                                        <option value="<?= $value['id'] ?>" <?= $value['id']==$user->job_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Grupo:</label>
                            <select name="customers_gp_id" class="form-control">
                                <?php if($customers_gps): ?>
                                    <option value="">--Selecione</option>
                                    <?php foreach ($customers_gps as $value): ?>
                                        <option value="<?= $value['id'] ?>" <?= $value['id']==$person->customers_gp_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Método de Pagamento:</label>
                            <select name="payments_mtd_id" class="form-control">
                                <?php if($payments_mtds): ?>
                                    <option value="">--Selecione</option>
                                    <?php foreach ($payments_mtds as $value): ?>
                                        <option value="<?= $value['id'] ?>" <?= $value['id']==$person->payments_mtd_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Tipo Documento:</label>
                            <select name="document_type" class="form-control">
                                <option value="">--Selecione</option>
                                <option value="CPF" <?= "CPF"==$person->document_type ? 'selected' : '' ?>>CPF</option>
                                <option value="RG" <?= "RG"==$person->document_type ? 'selected' : '' ?>>RG</option>
                                <option value="CNH" <?= "CNH"==$person->document_type ? 'selected' : '' ?>>CNH</option>
                                <option value="Passaporte" <?= "Passaporte"==$person->document_type ? 'selected' : '' ?>>Passaporte</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <label>Documento Nº:</label>
                            <input type="text" id="document_number" name="document_number" class="form-control" value="<?=$person->document_number?>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Data de Nascimento:</label>
                            <input type="text" id="birth_date" name="birth_date" class="form-control date" value="<?=date_format_($person->birth_date)?>">
                        </div>
                        <div class="col-md-4">
                            <label>2º Documento:</label>
                            <input type="text" id="personal_number" name="personal_number" class="form-control" value="<?=$person->personal_number?>">
                        </div>
                        <div class="col-md-4">
                            <label>Contato:</label>
                            <input type="text" id="contact_person" name="contact_person" class="form-control" value="<?=$person->contact_person?>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>ID Eletrônico:</label>
                            <input type="text" id="electronic_identification" name="electronic_identification" class="form-control" value="<?=$person->electronic_identification?>">
                        </div>
                        <div class="col-md-8">
                            <label>Info:</label>
                            <textarea name="info" class="form-control"><?=$person->info?></textarea>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary">Salvar</button> <div class="btn btn-secondary" onclick="location.href='<?=WWWROOT?>/users/index'">Voltar</div>
                        </div>
                    </div>
                </div>
            </div>


                
        </div><!-- /.col -->
    </div><!-- /.row -->
    </form>
</div><!-- /.container -->

<?php get_template('scripts')?>

<script type="text/javascript"></script>

</body>
</html>