@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Regular'),
            local('Roboto-Regular'),
            url("../fonts/Roboto-Regular.woff"),
            format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Bold'),
            local('Roboto-Bold'),
            url("../fonts/Roboto-Bold.woff"),
            format('woff')
}

@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'),
            local('Roboto-Italic'),
            url("../fonts/Roboto-Italic.woff"),
            format('woff')
}

/*===================
Wrapper
===================*/
#wrapper {padding-left: 0; -webkit-transition: all 0.5s ease; -moz-transition: all 0.5s ease; -o-transition: all 0.5s ease; transition: all 0.5s ease}
#wrapper.toggled {padding-left: 130px}
#sidebar-wrapper {z-index: 1000; position: fixed; left: 100px; width: 0; height: 100%; margin-top: 60px; margin-left: -100px; overflow-y: auto; background: #2F323A;}
#wrapper.toggled #sidebar-wrapper {width: 130px}
#page-content-wrapper {width: 100%; position: absolute; padding: 15px; padding-top: 80px}
#page-content-wrapper .col-lg-12 {margin-top: 60px}
#wrapper.toggled #page-content-wrapper {position: absolute; margin-right: -130px}


/*===================
Sidebar
===================*/
.sidebar-nav {position: absolute; top: 0; width: 100px; margin: 0; padding: 0; list-style: none}
.sidebar-nav li {line-height: 40px}
.sidebar-nav .active {background-color: #1A1C20; border-left:3px solid #50C14E}
.sidebar-nav li a {padding-top: 10px; display: block; text-decoration: none; color: #fff; text-align: center}
.sidebar-nav li a:hover {text-decoration: none; color: #fff; background: rgba(255,255,255,0.2)}
.sidebar-nav li a:active, .sidebar-nav li a:focus {text-decoration: none}
.sidebar-nav li a span {line-height: 1.5em; text-align: center; font-size: 2em; display: block}
.sidebar-nav > .sidebar-brand {height: 65px; font-size: 18px; line-height: 60px}
.sidebar-nav > .sidebar-brand a {color: #999999}
.sidebar-nav > .sidebar-brand a:hover {color: #fff; background: none}


/*===================
Navbar TOP
===================*/
#navbar {margin-top: 8px}
.navbar-top {min-height: 60px; background: #4CD964; background-image: linear-gradient(-180deg, rgba(86,217,83,0.50) 16%, rgba(5,116,8,0.50) 100%); border: 1px solid #3CD156}
.navbar-top .navbar-nav>li>a {color: #fff}
.navbar-top .navbar-brand {margin-top: -8px; color: #fff}
.navbar-form input {margin-left: 25px; background: #FFFFFF; border: 1px solid #009446; box-shadow: inset 0px 1px 3px 0px rgba(0,0,0,0.50); border-radius: 6px}
.inner-addon {position: relative;}
.inner-addon .lnr {position: absolute; padding: 10px; pointer-events: none}
.left-addon .lnr  {left:  0px}
.right-addon .lnr {right: 0px}
.left-addon input  {padding-left:  30px}
.right-addon input {padding-right: 30px}


/*===================
Navbar LEFT
===================*/
#navbar-left {margin-top: 50px; height: 130px; color: white; background: #353839; border: 1px solid #000000}
#navbar-left a {color: white}
.navbar-modules {background: #D8D8D8; background-image: linear-gradient(-180deg, #51D95C 0%, #289632 100%); border-radius: 8px; font-size: 0.9em; margin-top: -1px; height: 42px}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {border-top-left-radius: 8px; border-bottom-left-radius: 8px; background-image: linear-gradient(-180deg, #289632 100%, #51D95C 0%)}
.navbar-modules li {border-right: 1px solid #009446; height: 42px}
.navbar-modules li a {padding-top: 10px; height: 42px}
.navbar-modules li:last-child {border-right: none}
.notifications {margin-top: 9px}
.notifications li {padding-right: 15px; display: inline; list-style-type: none}
.notifications span {font-size: 1.6em; color: white}


/*===================
Navbar SECOND
===================*/
.horizon-swiper {background: #FFFFFF; box-shadow: 0px 2px 38px 0px rgba(0,0,0,0.07); border-radius: 6px}
.navbar-second li:fist {margin-left: 0px}
.horizon-item .nav-btn {padding-bottom: 10px; padding-top: 20px; margin-left: 10px; text-align: center; list-style-type: none; display: inline-block; margin-bottom: 10px}
.horizon-item span {font-size: 1.6em; opacity: 0.8; font-weight: 600; display: table; margin: 0 auto; padding-bottom: 6px; color: #797979}
.horizon-item a {padding-left: 20px; padding-right: 20px; opacity: 0.8; font-size: 14px; color: #797979}
.horizon-item .active {border-bottom: 4px solid #50C14E}
.horizon-item .active a {color: #2F323A}
.horizon-item .active span {color: #2F323A}


/*===================
Navbar THREE
===================*/
.navbar-three {width: 100%; margin-top: 20px}
.navbar-three li {padding-bottom: none; padding-top: 18px; margin-left: 15px; list-style-type: none; display: inline-block; margin-bottom: none}
.navbar-three .active a {border-bottom: 4px solid #50C14E; padding-bottom: 10px; font-weight: 600; color: black}
.navbar-three li span {opacity: 0.8; font-weight: 600; display: table; margin: 0 auto; padding-bottom: 6px; color: #797979}
.navbar-three li a {opacity: 0.8; color: #797979}
.navbar-three > li > a {padding: 10px 10px}

.navbar-three-min {width: 100%; margin-top: 20px}
.navbar-three-min li {padding-bottom: none; padding-top: 18px; margin-left: 15px; list-style-type: none; display: inline-block; margin-bottom: none}
.navbar-three-min .active a {border-bottom: 4px solid #50C14E; padding-bottom: 10px; font-weight: 600; color: black}
.navbar-three-min li span {opacity: 0.8; font-weight: 600; display: table; margin: 0 auto; padding-bottom: 6px; color: #797979}
.navbar-three-min li a {opacity: 0.8; color: #797979}
.navbar-three-min > li > a {padding: 10px 10px}

.round-button {display:inline-block; width:50px; height:50px; line-height:50px; border-radius: 50%; color:white; text-align:center; text-decoration:none; font-size:20px; font-weight:bold}
.round-button .icon {font-weight: 200;}
.round-button:hover {color: white;text-decoration: none}
.round-button-green  {background: #49D054; box-shadow: 0px 2px 9px 0px #2AA838}
.round-button-green:hover {background: #07791B}
.round-button-red {background: #F1453D; box-shadow: 0px 2px 9px 0px #FF3B30}
.round-button-red:hover {background: #C91F16; box-shadow: 0px 2px 9px 0px #FF3B30}
.navbar-bottom {background: #F4F4F4; padding-top: 15px; padding-bottom: 15px; box-shadow: 0px 2px 38px 0px rgba(0,0,0,0.07); border-radius: 0px 0px 6px 6px}
.navbar-bottom .pull-left {padding-left: 30px; padding-bottom: 10px}
.navbar-bottom .pull-right {padding-right: 30px; padding-bottom: 10px}
.button-group {padding: 30px 30px 0 30px}


/*========================
Table
==========================*/
table {margin-top: 30px; margin-bottom: 30px; font-size: 12px; border-bottom: 1px solid #ccc}
table th {padding: 15px}
table td {padding: 10px}
table.dataTable.no-footer {border: none}
table.dataTable tfoot th, table.dataTable tfoot td {border:none}
table.dataTable thead th, table.dataTable thead td {border: none}
/*.table-bordered {padding: 30px}*/
.table-bordered .ui-state-default {padding-bottom: 15px; padding-top: 15px}
.dataTables_length {padding: 30px 30px 0 30px}
.dataTables_filter {padding: 30px 30px 0 30px}
.dataTables_info {padding: 30px 30px 0 30px}
.dataTables_paginate {padding: 30px 30px 30px 30px}
.paging_full_numbers {padding: 30px 30px 30px 30px}
.table-bordered thead {background: #DFDFDF; margin-bottom: 100px; box-shadow: inset 0px 2px 0px 0px #FFFFFF}
.table-with-btn{position: relative}
.table-bordered tbody tr:hover {background-color: #f0f0f0; border-left: 3px solid #50C14E}

.thumb-Empty{width: 100%; height: 160px; background-color: #d4d4d4}
.thumb-Empty i{display: block; margin: 0 auto; text-align: center; padding-top: 18%; font-size: 30px}
.hover-select {background-color: #f0f0f0; border-left: 3px solid #50C14E}
.btns-footer {background-color: #DFDFDF; height: 80px; padding-top: 18px; padding-left: 30px; padding-right: 30px}

.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus {
    z-index: 3; color: #fff; cursor: default; background-color: #50C14E; border-color: #50C14E;
}


/*========================
Widgets
==========================*/
.bar-widgets {
    margin-left: 30px;
    margin-right: 30px;
    height: 100px;
    background-color: #EDECEC;
    border-radius: 5px;
    border: 4px solid #EDECEC;
}
.widgets {
    margin-left: 20px;
}
.widgets > li span {
    font-size: 20px;
}
.widgets > li {
    width: 95px;
    height: 70px;
    padding-top: 15px;
    text-align: center;
    margin-left: 3px;
    margin-top: 10px;
    outline: #CECECE dashed 2px;        
    border-radius: 4px;
    background-color: #fff;
}
.widgets-import {
    margin: 50px;
}
.widgets-import li {
    height: 70px;
    padding: 15px;
    text-align: center;
    margin-left: 15px;
    margin-top: 10px;
    outline: #CECECE dashed 2px;
    border-radius: 4px;
    background-color: #fff;
}
.widgets-import span {
    font-size: 18px;
}
.modal-dialog-center {
    margin-top: 25%;
}
/*========================
Stucture
==========================*/
body {font-family: 'Roboto Regular', sans-serif; background-color: #EDECEC; overflow-x: hidden; font-size: 13px; line-height: 20px; color: #444}
ul {padding-left: 0px}
.content {background: #FFFFFF; box-shadow: 0px 2px 38px 0px rgba(0,0,0,0.07); border-radius: 6px; padding-top: 25px}
.row-fluid {padding: 10px}
.margin-bottom-10 {margin-bottom: 10px;}

/*========================
Headings
==========================*/
h1 {font-size: 35.75px}
h2 {font-size: 29.25px}
h3 {font-size: 22.75px}
h4 {font-size: 16.25px}
h5 {font-size: 13px}
h6 {font-size: 11.04px}
h1, h2, h3, h4, h5, h6 {padding: 15px}

/*========================
Control Sizing
==========================*/
.input-mini {width: 60px}
.input-small {width: 90px}
.input-medium {width: 150px}
.input-large {width: 210px}
.input-xlarge {width: 270px}
.input-xxlarge {width: 530px}
.span-2 {width: 156px}
.span-3 {width: 195px}
.span-4 {width: 270px}
.span-6 {width: 406px}

/*========================
Forms
==========================*/
label {padding-top: 15px; font-weight: 400}
select {background-image: linear-gradient(-180deg, #F2F2F2 0%, #D4D4D4 100%); width: 100%; border-right: 4px; font-size: 14px; color: #000; border: 1px solid #979797; box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF; border-radius: 3px; width: 100%; height: 34px; padding-left: 10px}
.btn {text-transform: capitalize}
.btn-primary {
    background: #eeeeee;
    background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
    background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 100%);
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
    border: 1px solid #979797; 
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF; 
    border-radius: 4px; 
    padding: 10px; 
    color: #000;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #cccccc;
    background: -moz-linear-gradient(top, #cccccc 0%, #eeeeee 100%);
    background: -webkit-linear-gradient(top, #cccccc 0%,#eeeeee 100%);
    background: linear-gradient(to bottom, #cccccc 0%,#eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#eeeeee',GradientType=0 );
    border: 1px solid #979797; 
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.20), inset 0px 2px 0px 0px #FFFFFF; 
    border-radius: 4px; 
    padding: 10px; 
    color: #000;
}
.btn-success {background: #4CD964; background-image: linear-gradient(-180deg, rgba(86,217,83,0.50) 16%, rgba(5,116,8,0.50) 100%); border: 1px solid #00B21E; border-radius: 4px; padding: 10px}
.btn-primary:hover {color: #000; border: 1px solid #979797}

.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url('../images/default.gif') 50% 50% no-repeat rgb(249,249,249);
}

/*========================
Responsive
==========================*/
@media(min-width:768px) {
    #wrapper {
        padding-left: 100px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 100px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px 0px 20px 0px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}