<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    
    </style>
</head>
<body>
    <div class="loader"></div>

    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>

    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height: 78vh; margin-bottom: 8px;">
                        <div class="card-body no-padding" style="overflow-y: auto; position: relative;">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 50px;">&nbsp;</th>
                                        <th style="width: 90px;">ID</th>
                                        <th>Descrição</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if ($departments):?>
                                    <?php foreach ($departments as $department):?>
                                    <tr onclick="toggleRow(this)" class="">
                                        <td class="text-center"><input type="radio" class="row_check" name="row_check" value="<?=$department['id']?>"></td>
                                        <td class="text-right"><?=$department['id']?></td>
                                        <td><?=$department['name']?></td>
                                    </tr>
                                    <?php endforeach;?>
                                    <?php else:?>
                                    <tr>
                                        <td colspan="6">Sem resultados</td>
                                    </tr>
                                    <?php endif?>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-system" onclick="updateDepartment();">Editar</button>
                                    <button class="btn btn-primary" onclick="addDepartment();">Adicionar Departamento</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div><!-- /.container -->
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="generic-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

    <?php get_template('scripts')?>

    <script type="text/javascript">
    /**
     * Utiliza janela modal genérica para vários propósitos na tela do terminal
     */
    function openGenericModal(op, data) {
        var modal = $('#generic-modal');
        modal.find('.modal-dialog').removeClass('modal-lg');
        modal.modal('show');
        modal.find(".modal-content").loading();
        switch (op) {
            case 'add':
                modal.find('.modal-title').html('Novo Departamento');
                modal.find('.modal-body').load(wwwroot+'/departments_async/add', function(){
                    modal.find(".modal-content").loading('stop');
                });
                modal.find('.modal-footer').show();
                modal.find('.modal-footer button[type=submit]').one('click', function(event){
                    $(this).off('click');
                    doAddDepartment(event);
                });
                break;
            case 'update':
                modal.find('.modal-title').html('Editar Departamento');
                modal.find('.modal-body').load(wwwroot+'/departments_async/update/'+data, function(){
                    modal.find(".modal-content").loading('stop');
                });
                modal.find('.modal-footer').show();
                modal.find('.modal-footer button[type=submit]').one('click', function(event){
                    $(this).off('click');
                    doUpdateDepartment(event, data);
                });
                break;
            default:
                break;
        }
    }

    function doAddDepartment(e) {
        e.preventDefault();

        var form_data = $('#form-add-department').serializeArray();

        var url = wwwroot+'/departments_async/add';

        var posting = $.post(url, form_data);

        posting.done(function(data) {
            console.log(data);
            if (data.status.code == 200) {
                $.alert({
                    type: 'green',
                    title: 'Sucesso',
                    content: 'Cadastro Efetuado',
                    theme: 'light',
                    buttons: {
                        ok: function(){
                            $('#generic-modal').modal('hide');
                            location.reload();
                        }
                    }
                });
            }
        }).fail(function(a, b, c) {
            console.log(a, b, c);
        });
    }
    function addDepartment() {
        openGenericModal('add');
    }
    function toggleRow(tr) {
        var checkbox = $(tr).find("input[type=radio]");
        checkbox.prop('checked', true);
    }

    function doUpdateDepartment(e, id) {
        e.preventDefault();

        var form_data = $('#form-update-department').serializeArray();

        var url = wwwroot+'/departments_async/update/'+id;

        var posting = $.post(url, form_data);

        posting.done(function(data) {
            console.log(data);
            if (data.status.code == 200) {
                $.alert({
                    type: 'green',
                    title: 'Sucesso',
                    content: 'Cadastro Efetuado',
                    theme: 'light',
                    buttons: {
                        ok: function(){
                            $('#generic-modal').modal('hide');
                            location.reload();
                        }
                    }
                });
            }
        }).fail(function(a, b, c) {
            console.log(a, b, c);
        });
    }

    function updateDepartment() {
        var value = $('input[type=radio]:checked').val();
        if (!value) {
            return false;
        }
        openGenericModal('update', value);
    }
    </script>

</body>
</html>