<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <form action="" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <ul class="menu-bar">
                                <li>
                                    <a href="<?=WWWROOT?>/customers/add">Adicionar cliente</a>
                                </li>
                                <li>
                                    <a href="<?=WWWROOT?>/customers/index">Clientes cadastrados</a>
                                </li>
                                <li>
                                    <a href="<?=WWWROOT?>/customers/discounts">Descontos</a>
                                </li>
                                <li>
                                    <a href="<?=WWWROOT?>/customers/payment_methods">Formas de pagamento</a>
                                </li>
                                <li class="active">
                                    <a href="<?=WWWROOT?>/customers/customer_groups">Grupos de clientes</a>
                                </li>
                                <li>
                                    <a href="<?=WWWROOT?>/customers/gift_cards">Cartões de presente</a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Nome:</label>
                                    <input type="text" name="name" class="form-control">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary">Salvar</button> <div class="btn btn-secondary" onclick="location.href='<?=WWWROOT?>/customers/customer_groups'">Cancelar</div>
                                </div>
                            </div>
                        </div>
                    </div>


                        
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
        </form>
    </div><!-- /.container -->

    <?php get_template('scripts')?>

    <script type="text/javascript"></script>

</body>
</html>