<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <div class="row">
                <div class="col-md-12">
                    <!-- product table -->
                    <div class="card" style="height: 78vh; margin-bottom: 8px;">
                        <div class="card-header">
                            <?php get_template('customers_topbar')?>
                        </div>
                        <div class="card-body no-padding" style="overflow-y: auto;">
                            <table id="user_table" class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Nome</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if ($customer_groups): ?>
                                        <?php $count = 1; ?>
                                        <?php foreach ($customer_groups[0] as $customer_group): ?>
                                            <tr onclick="toggleRow(this)">
                                                <td><input type="radio" class="row_check" name="row_check" value="<?=$customer_group['id']?>"></td>
                                                <td><?=$customer_group['name']?></td>
                                            </tr>
                                            <?php $count++; ?>
                                        <?php endforeach; ?>
                                    <?php else:?>
                                        <tr>
                                            <td colspan="7">Sem resultados</td>
                                        </tr>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-system" onclick="updateCustomersGroup();">Editar</button>
                                    <button class="btn btn-primary" onclick="addCustomersGroup();">Adicionar</button>
                                </div>
                            </div>
                        </div><!-- /.card-footer -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.container -->

    <div class="modal" tabindex="-1" role="dialog" id="generic-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title"></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-success">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>

    <?php get_template('scripts')?>

    <script type="text/javascript">
        /**
     * Utiliza janela modal genérica para vários propósitos na tela do terminal
     */
    function openGenericModal(op, data) {
        var modal = $('#generic-modal');
        modal.find('.modal-dialog').removeClass('modal-lg');
        modal.modal('show');
        modal.find(".modal-content").loading();
        switch (op) {
            case 'add':
                modal.find('.modal-title').html('Novo Grupo');
                modal.find('.modal-body').load(wwwroot+'/customer_groups_async/add', function(){
                    modal.find(".modal-content").loading('stop');
                });
                modal.find('.modal-footer').show();
                modal.find('.modal-footer button[type=submit]').one('click', function(event){
                    $(this).off('click');
                    doAddCustomersGroup(event);
                });
                break;
            case 'update':
                modal.find('.modal-title').html('Editar Grupo');
                modal.find('.modal-body').load(wwwroot+'/customer_groups_async/update/'+data, function(){
                    modal.find(".modal-content").loading('stop');
                });
                modal.find('.modal-footer').show();
                modal.find('.modal-footer button[type=submit]').one('click', function(event){
                    $(this).off('click');
                    doUpdateCustomersGroup(event, data);
                });
                break;
            default:
                break;
        }
    }

        function toggleRow(tr) {
            var checkbox = $(tr).find("input[type=radio]");
            checkbox.prop('checked', true);
        }

        function doAddCustomersGroup(e) {
        e.preventDefault();

        var form_data = $('#form-add-customer_group').serializeArray();

        var url = wwwroot+'/customer_groups_async/add';

        var posting = $.post(url, form_data);

        posting.done(function(data) {
            console.log(data);
            if (data.status.code == 200) {
                $.alert({
                    type: 'green',
                    title: 'Sucesso',
                    content: 'Cadastro Efetuado',
                    theme: 'light',
                    buttons: {
                        ok: function(){
                            $('#generic-modal').modal('hide');
                            location.reload();
                        }
                    }
                });
            }
        }).fail(function(a, b, c) {
            console.log(a, b, c);
        });
    }
    function addCustomersGroup() {
        openGenericModal('add');
    }

        function doUpdateCustomersGroup(e, id) {
            e.preventDefault();

            var form_data = $('#form-update-customer_group').serializeArray();

            var url = wwwroot+'/customer_groups_async/update/'+id;

            var posting = $.post(url, form_data);

            posting.done(function(data) {
                console.log(data);
                if (data.status.code == 200) {
                    $.alert({
                        type: 'green',
                        title: 'Sucesso',
                        content: 'Cadastro Efetuado',
                        theme: 'light',
                        buttons: {
                            ok: function(){
                                $('#generic-modal').modal('hide');
                                location.reload();
                            }
                        }
                    });
                }
            }).fail(function(a, b, c) {
                console.log(a, b, c);
            });
        }

        function updateCustomersGroup() {
            var value = $('input[type=radio]:checked').val();
            if (!value) {
                return false;
            }
            openGenericModal('update', value);
        }
    </script>

</body>
</html>