<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <div class="row">
                <div class="col-md-12">
                    <!-- product table -->
                    <div class="card" style="height: 78vh; margin-bottom: 8px;">
                        <div class="card-header">
                            <?php get_template('customers_topbar')?>
                        </div>
                        <div class="card-body no-padding" style="overflow-y: auto;">
                            <table id="user_table" class="table table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th>Grupo de clients</th>
                                        <th>ID do cliente</th>
                                        <th>Nome do cliente</th>
                                        <th>Grupo de produtos</th>
                                        <th>Único produto</th>
                                        <th>Percentual de desconto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if ($discounts): ?>
                                        <?php $count = 1; ?>
                                        <?php foreach ($discounts as $discount): ?>
                                            <tr onclick="toggleRow(this)" class="">
                                                <td><input type="radio" class="row_check" name="row_check" value="<?=$discount['id']?>"></td>
                                                <td><?=@$discount['customer_group_name']?></td>
                                                <td><?=@$discount['person_id']?></td>
                                                <td><?=@$discount['customer_name']?></td>
                                                <td><?=@$discount['product_group_name']?></td>
                                                <td><?=@$discount['product_name']?></td>
                                                <td><?=$discount['percent']?></td>
                                                
                                            </tr>
                                            <?php $count++; ?>
                                        <?php endforeach; ?>
                                    <?php else:?>
                                        <tr>
                                            <td colspan="7">Sem resultados</td>
                                        </tr>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button class="btn btn-system" onclick="updateDiscount();">Editar</button>
                                    <button class="btn btn-primary" onclick="window.location = '<?=WWWROOT?>/customers/discount_add'">Adicionar desconto</button>
                                </div>
                            </div>
                        </div><!-- /.card-footer -->
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.container -->


    <?php get_template('scripts')?>

    <script type="text/javascript">
        function toggleRow(tr) {
            var checkbox = $(tr).find("input[type=radio]");
            checkbox.prop('checked', true);
        }

        function updateDiscount() {
            var value = $('input[type=radio]:checked').val();
            if (!value) {
                return false;
            }
            window.location = wwwroot + '/customers/discount_update/'+value;
        }

    </script>

</body>
</html>