<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <form action="" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <?php get_template('customers_topbar')?>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Cliente:</label>
                                    <select name="person_id" class="form-control">
                                        <option value="">--Selecione</option>
                                        <?php if($people): ?>
                                            <?php foreach ($people as $value): ?>
                                                <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Grupo de clientes:</label>
                                    <select name="customer_group_id" class="form-control">
                                        <option value="">--Selecione</option>
                                        <?php if($customer_groups): ?>
                                            <?php foreach ($customer_groups as $value): ?>
                                                <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label>Produto:</label>
                                    <select name="product_id" class="form-control">
                                        <option value="">--Selecione</option>
                                        <?php if($products): ?>
                                            <?php foreach ($products as $value): ?>
                                                <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <label>Grupo de produtos:</label>
                                    <select name="product_group_id" class="form-control">
                                        <option value="">--Selecione</option>
                                        <?php if($product_groups): ?>
                                            <?php foreach ($product_groups as $value): ?>
                                                <option value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Percentual:</label>
                                    <input type="text" name="percent" class="form-control">
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <button class="btn btn-primary">Salvar</button> <div class="btn btn-secondary" onclick="location.href='<?=WWWROOT?>/customers/discounts'">Cancelar</div>
                                </div>
                            </div>
                        </div>
                    </div>


                        
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
        </form>
    </div><!-- /.container -->

    <?php get_template('scripts')?>

    <script type="text/javascript"></script>

</body>
</html>