<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <div class="row">
                <div class="col-md-12">
                    <!-- product table -->
                    <div class="card" style="height: 78vh; margin-bottom: 8px;">
                        <div class="card-header">
                            <?php get_template('customers_topbar')?>
                        </div>
                        <div class="card-body no-padding" style="overflow-y: auto;">
                            <table id="user_table" class="table table-striped table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th style="width: 50px;">&nbsp;</th>
                                        <th>Nome</th>
                                        <th>Endereço</th>
                                        <th>CEP</th>
                                        <th>Cidade</th>
                                        <th>Modalidade de pagamento</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if ($people): ?>
                                        <?php $count = 1; ?>
                                        <?php foreach ($people as $person): ?>
                                            <tr onclick="toggleRow(this)" class="">
                                                <td class="text-center"><input type="radio" class="row_check" name="row_check" value="<?=$person['id']?>"></td>
                                                <td><?=$person['name']?></td>
                                                <td><?=@$person['address_street']?>
                                                    <?php if (@$person['address_number']!=''): ?>
                                                        <?= ', '.$person['address_number'] ?>
                                                    <?php endif; ?>
                                                    <?php if (@$person['address_district']!=''): ?>
                                                        <?= ' - '.$person['address_district'] ?>
                                                    <?php endif; ?>                                        
                                                </td>
                                                <td><?=@$person['address_zipcode']?></td>
                                                <td><?=@$person['address_city']?></td>
                                                <td><?=@$person['payment_method_name']?></td>
                                                
                                            </tr>
                                            <?php $count++; ?>
                                        <?php endforeach; ?>
                                    <?php else:?>
                                        <tr>
                                            <td colspan="7">Sem resultados</td>
                                        </tr>
                                    <?php endif; ?>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-info" onclick="window.location = '<?=WWWROOT?>/products/add'">Cadastrar</button>
                                    <button class="btn btn-primary" onclick="searchPerson();">Buscar</button>
                                    <button class="btn btn-system" onclick="updatePerson();">Editar</button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
    </div><!-- /.container -->

    <div class="modal" tabindex="-1" role="dialog" id="search-modal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Buscar Clientes</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="search-form" action="" method="get">
                    <div class="row">
                        <div class="col-6">
                            <label>Buscar por:</label>
                            <select class="select2 form-control" style="width: 100%;" name="search_by">
                                <option value="name">Nome</option>
                            </select>
                        </div>
                        <div class="col-6">
                            <label>Valor:</label>
                            <input type="text" class="form-control" name="value" value="<?=@$_GET['value']?>">
                        </div>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-success" id="btn-submit">Buscar</button>
                </div>
            </div>
        </div>
    </div>

    <?php get_template('scripts')?>

    <script type="text/javascript">
        function toggleRow(tr) {
            var checkbox = $(tr).find("input[type=radio]");
            checkbox.prop('checked', true);
        }

        function updatePerson() {
            var value = $('input[type=radio]:checked').val();
            if (!value) {
                return false;
            }
            window.location = wwwroot + '/customers/update/'+value;
        }

        function searchPerson() {
            $('#search-modal').modal('show');

            $('#btn-submit').click(function(){
                var data = $('#search-form').submit();
            });
        }
    </script>

</body>
</html>