<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
    <style type="text/css">
    </style>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('entry_topbar')?>
            <form action="" method="post">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height: 78vh; margin-bottom: 8px;">
                        <div class="card-header">
                            <?php get_template('customers_topbar')?>
                        </div>
                        <div class="card-body" style="overflow-y: auto; overflow-x: hidden;">
                            <div class="row">
                                <div class="col-md-9">
                                    <label>Nome Completo:</label>
                                    <input type="text" name="person[name]" class="form-control open-keyboard" value="<?=$person->name?>" required>
                                </div>
                                <div class="col-md-3">
                                    <label>País:</label>
                                    <select name="person[zz_country_id]" class="select2" style="with: 100%;">
                                        <option value=""></option>
                                        <?php if($countries): ?>
                                            <?php foreach ($countries as $value): ?>
                                                <option value="<?= $value['id'] ?>" <?=$value['id']==$person->zz_country_id ? 'selected' : '' ?>><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <label>Departamento:</label>
                                    <select name="person[department_id]" class="select2" style="with: 100%;">
                                        <option value=""></option>
                                        <?php if($departments): ?>
                                            <?php foreach ($departments as $value): ?>
                                                <option <?=$value['id'] == $person->department_id ? 'selected' : '' ?> value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Grupo:</label>
                                    <select name="person[customers_group_id]" class="select2" style="with: 100%;">
                                        <option value=""></option>
                                        <?php if($customers_gps): ?>
                                            <?php foreach ($customers_gps as $value): ?>
                                                <option <?=$value['id'] == $person->customer_group_id ? 'selected' : '' ?> value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Funcionário de preferência:</label>
                                    <select name="person[user_id]" class="select2" style="with: 100%;">
                                        <option value=""></option>
                                        <?php if($users): ?>
                                            <?php foreach ($users as $value): ?>
                                                <option <?=$value['id'] == $person->user_id ? 'selected' : '' ?> value="<?= $value['id'] ?>"><?= $value['user_name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                                <div class="col-md-3">
                                    <label>Método de Pagamento:</label>
                                    <select name="person[payment_method_id]" class="select2" style="with: 100%;">
                                        <option value=""></option>
                                        <?php if($payment_methods): ?>
                                            <?php foreach ($payment_methods as $value): ?>
                                                <option <?=$value['id'] == $person->payment_method_id ? 'selected' : '' ?> value="<?= $value['id'] ?>"><?= $value['name'] ?></option>
                                            <?php endforeach; ?>
                                        <?php endif; ?>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Telefone:</label>
                                    <input type="text" name="person_data[phone]" class="form-control open-keyboard" value="<?=@$phone->data_value?>">
                                </div>
                                <div class="col-md-8">
                                    <label>E-mail:</label>
                                    <input type="text" name="person_data[email]" class="form-control open-keyboard" value="<?=@$email->data_value?>">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Tipo Documento:</label>
                                            <input type="text" class="form-control open-keyboard" name="person[document_type]" value="<?=$person->document_type?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Documento Nº:</label>
                                            <input type="text" id="document_number" name="person[document_number]" class="form-control open-keyboard" value="<?=$person->document_number?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label>Gênero:</label>
                                            <select name="person[genre]" class="select2" style="with: 100%;">
                                                <option value=""></option>
                                                <option <?=$person->genre == 0 ? 'selected' : '' ?> value="0">Masculino</option>
                                                <option <?=$person->genre == 1 ? 'selected' : '' ?> value="1">Feminino</option>
                                                <option <?=$person->genre == 2 ? 'selected' : '' ?> value="2">Outros</option>
                                            </select>
                                        </div>
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label>Nascimento:</label>
                                            <input type="text" id="birth_date" name="person[birth_date]" class="form-control open-keyboard datepicker" value="<?=$person->birth_date?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label>2º Documento:</label>
                                            <input type="text" name="person[personal_number]" class="form-control open-keyboard" value="<?=$person->personal_number?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label>ID Eletrônico:</label>
                                            <input type="text" name="person[electronic_identification]" class="form-control open-keyboard" value="<?=$person->electronic_identification?>">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label>Contato:</label>
                                            <input type="text" id="person_data[contact_person]" name="contact_person" class="form-control open-keyboard" value="<?=$person->contact_person?>">
                                        </div>
                                        <div class="col-md-6">
                                            <label>Contato - E-mail:</label>
                                            <input type="text" name="person_data[contact_email]" class="form-control open-keyboard" value="<?=@$contact_email->data_value?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Info:</label>
                                    <textarea name="person[info]" class="form-control open-keyboard" style="height: 200px;"><?=$person->info?></textarea>
                                </div>
                            </div>
                            
                            <!-- customer extra attributes -->
                            <div class="row" style="margin-top: 25px;background: #F8F8F8; padding-top: 10px; padding-bottom: 10px;">
                                <div class="col-md-12">
                                    <ul class="menu-bar" id="menu-links" style="margin-bottom: 20px;">
                                        <li class="active">
                                            <a href="#addresses"><?=$_lang['addresses']?></a>
                                        </li>
                                        <li>
                                            <a href="#settings"><?=$_lang['settings']?></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12 menu-tab" id="addresses">
                                    <?php
                                    if ($addresses):
                                        foreach ($addresses as $address):
                                    ?>
                                    <div class="row" style="border-top: 1px solid #aaa; padding-top: 10px; margin-top: 10px;">
                                        <div class="col-md-4">
                                            <label><?=$_lang['name']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][name]" value="<?=$address['name']?>">
                                        </div>
                                        <div class="col-md-6">
                                            <label><?=$_lang['address']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][address_street]" value="<?=$address['address_street']?>">
                                        </div>
                                        <div class="col-md-2">
                                            <label><?=$_lang['country']?>:</label>
                                            <select name="address[<?=$address['id']?>][zz_country_id]" class="select2" style="width: 100%;">
                                                <option value=""></option>
                                                <?php foreach ($countries as $country):
                                                    $sel = $country['id'] == $address['zz_country_id'] ? ' selected' : '';
                                                ?>
                                                <option value="<?=$country['id']?>"<?=$sel?>><?=$country['name']?></option>
                                                <?php endforeach?>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label><?=$_lang['number']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][address_number]" value="<?=$address['address_number']?>">
                                        </div>
                                        <div class="col-md-2">
                                            <label><?=$_lang['zip']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][address_zipcode]" value="<?=$address['address_zipcode']?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['district']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][address_district]" value="<?=$address['address_district']?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['city']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][address_city]" value="<?=$address['address_city']?>">
                                        </div>
                                        <div class="col-md-6">
                                            <label><?=$_lang['complement']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][address_complement]" value="<?=$address['address_complement']?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['reference']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[<?=$address['id']?>][address_reference]" value="<?=$address['address_reference']?>">
                                        </div>
                                        <div class="col-md-2 text-right">
                                            <button type="button" onclick="window.location = '<?=WWWROOT.'/customers/update/'.$person->id.'?action=delete_address&id='.$address['id']?>'" style="margin-top: 26px;" class="btn btn-danger"><?=$_lang['delete']?></button>
                                        </div>
                                    </div>
                                    <?php
                                        endforeach;
                                    endif;
                                    ?>
                                    <div class="row" style="border-top: 1px solid #aaa; padding-top: 10px; margin-top: 10px;">
                                        <div class="col-md-12">
                                            <h4><?=$_lang['new_address']?>:</h4>
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['name']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][name]" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <label><?=$_lang['address']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][address_street]" value="">
                                        </div>
                                        <div class="col-md-2">
                                            <label><?=$_lang['country']?>:</label>
                                            <select name="address[0][zz_country_id]" class="select2" style="width: 100%;">
                                                <option value=""></option>
                                                <?php foreach ($countries as $country):?>
                                                <option value="<?=$country['id']?>"><?=$country['name']?></option>
                                                <?php endforeach?>
                                            </select>
                                        </div>
                                        <div class="col-md-2">
                                            <label><?=$_lang['number']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][address_number]" value="">
                                        </div>
                                        <div class="col-md-2">
                                            <label><?=$_lang['zip']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][address_zipcode]" value="">
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['district']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][address_district]" value="">
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['city']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][address_city]" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <label><?=$_lang['complement']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][address_complement]" value="">
                                        </div>
                                        <div class="col-md-6">
                                            <label><?=$_lang['reference']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="address[0][address_reference]" value="">
                                        </div>
                                    </div>
                                </div><!-- /#addresses -->
                                <div class="col-md-12 menu-tab hide" id="settings">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label><?=$_lang['project']?>:</label>
                                            <select class="select2" name="settings[project_id]">
                                                <option value=""></option>
                                                <?php foreach ($projects as $project):
                                                    $sel = $project['id'] == @$settings['project_id'] ? ' selected' : '';
                                                ?>
                                                <option value="<?=$project['id']?>"<?=$sel?>><?=$project['name']?></option>
                                                <?php endforeach?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['tax_free']?>:</label>
                                            <select class="select2" name="settings[tax_free]">
                                                <option value="0"<?php if (@$settings['tax_free'] == 0) echo 'selected'?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$settings['tax_free'] == 1) echo 'selected'?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['inv_show_customer_name']?>:</label>
                                            <select class="select2" name="settings[inv_show_customer_name]">
                                                <option value="0"<?php if (@$settings['inv_show_customer_name'] == 0) echo 'selected'?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$settings['inv_show_customer_name'] == 1) echo 'selected'?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['inv_group_invoices']?>:</label>
                                            <select class="select2" name="settings[inv_group_invoices]">
                                                <option value="0"<?php if (@$settings['inv_group_invoices'] == 0) echo 'selected'?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$settings['inv_group_invoices'] == 1) echo 'selected'?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label><?=$_lang['inv_tax_free']?>:</label>
                                            <select class="select2" name="settings[inv_tax_free]">
                                                <option value="0"<?php if (@$settings['inv_tax_free'] == 0) echo 'selected'?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$settings['inv_tax_free'] == 1) echo 'selected'?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['inv_invoice_print_exclusive']?>:</label>
                                            <select class="select2" name="settings[inv_invoice_print_exclusive]">
                                                <option value="0"<?php if (@$settings['inv_invoice_print_exclusive'] == 0) echo 'selected'?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$settings['inv_invoice_print_exclusive'] == 1) echo 'selected'?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['inv_hide_products']?>:</label>
                                            <select class="select2" name="settings[inv_hide_products]">
                                                <option value="0"<?php if (@$settings['inv_hide_products'] == 0) echo 'selected'?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$settings['inv_hide_products'] == 1) echo 'selected'?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['inv_electronic_invoice']?>:</label>
                                            <select class="select2" name="settings[inv_electronic_invoice]">
                                                <option value="0"<?php if (@$settings['inv_electronic_invoice'] == 0) echo 'selected'?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$settings['inv_electronic_invoice'] == 1) echo 'selected'?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                    </div><!-- /.row -->
                                    <div class="row">
                                        <div class="col-md-6">
                                            <label><?=$_lang['inv_email']?>:</label>
                                            <input type="text" class="form-control open-keyboard" name="settings[inv_email]" value="<?=@$settings['inv_email']?>">
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['ord_credit_limit']?>:</label>
                                            <input type="text" class="form-control open-keyboard-num money" name="settings[ord_credit_limit]" value="<?=format_money(@$settings['ord_credit_limit'], false)?>">
                                        </div>
                                        <div class="col-md-3">
                                            <label><?=$_lang['ord_payment_terms']?>:</label>
                                            <input type="text" class="form-control open-keyboard-num int" name="settings[ord_payment_terms]" value="<?=@$settings['ord_payment_terms']?>">
                                        </div>
                                    </div><!-- /.row -->
                                </div><!-- /#settings -->
                            </div>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6 text-left">
                                    <button type="button" class="btn btn-danger" onclick="location.href='<?=WWWROOT?>/customers/index'"><?=$_lang['go_back']?></button>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="submit" class="btn btn-primary"><?=$_lang['save']?></button> 
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                        
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div>
        </form>
    </div><!-- /.container -->

    <?php get_template('scripts')?>

    <script type="text/javascript">
    $(function(){
        $("#menu-links li a").click(function(event){
            event.preventDefault();
            href = $(this).attr('href').replace('#', '');

            $('.menu-tab').addClass('hide');
            $('#menu-links li').removeClass('active');
            $(this).parent().addClass('active');
            $('#'+href).removeClass('hide');
        });
    });
    </script>

</body>
</html>