<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-bottom: 8px;
    }
    </style>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php //get_template('sidebar')?>
    <div id="content-wrapper" style="padding-left: 0">
        <div class="container-fluid" style="margin-top: 20px;">
            <div class="row">
                <form action="" method="post">
                    <div class="col-6">
                        <div class="card">
                            <h4 class="card-header">
                                <?=$_lang['pos_data']?>
                            </h4>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-4">
                                        <?=$_lang['nickname']?>:
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control open-keyboard" name="nickname" value="">
                                    </div>
                                    <div class="col-4">
                                        <?=$_lang['device_id']?>:
                                    </div>
                                    <div class="col-8">
                                        <input type="text" class="form-control open-keyboard" name="" readonly value="<?=$device_id?>">
                                    </div>
                                    <div class="col-4">
                                        <?=$_lang['about']?>:
                                    </div>
                                    <div class="col-8">
                                        <textarea name="about" class="form-control open-keyboard" style="height: 200px"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary"><?=$_lang['register']?></button>
                            </div>
                        </div><!-- /.card -->
                    </div><!-- /.col -->
                </form>
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.content-wrapper -->
    <?php get_template('scripts')?>

    <script type="text/javascript"></script>

</body>
</html>