<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-bottom: 8px;
    }
    </style>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php //get_template('sidebar')?>
    <div id="content-wrapper" style="padding-left: 0">
        <div class="container-fluid" style="margin-top: 20px;">
            <h2 class="page-title"><?=$_lang['close_cashier']?></h2>
            <form action="" method="post">
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['card_closure']?>
                        </h4>
                        <div class="card-body">
                            <div class="row">
                                <?php foreach ($payment_methods as $method):?>
                                <div class="col-4">
                                    <?=$method['name']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control money open-keyboard-num" name="payment_methods[<?=$method['id']?>]" value="">
                                </div>
                                <?php endforeach?>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
                <div class="col-6">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['money_closure']?>
                        </h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <?=$_lang['amount_in_cashier_money']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control money open-keyboard-num" name="amount_counted" value="">
                                </div>
                                <div class="col-12">
                                    <button class="btn btn-info"><?=$_lang['money_count_helper']?></button>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                    <div class="row" style="margin-top: 10px;">
                        <div class="col-12 text-right">
                            <button type="submit" class="btn btn-lg btn-primary"><?=$_lang['close_cashier']?></button>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            </form>
        </div><!-- /.container -->
    </div><!-- /.content-wrapper -->
    <?php get_template('scripts')?>

    <script type="text/javascript"></script>

</body>
</html>