<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-bottom: 8px;
    }
    .btn-test {
        width: 18% !important;
        margin: 0 !important;
        max-width: 50px !important;
    }
    </style>
    <link href="<?=WEBROOT?>/themes/interface.terminal.css" rel="stylesheet">
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php //get_template('sidebar')?>
    <form action="" method="post">
    <div id="content-wrapper" style="padding-left: 0"><!-- when there is no sidebar this padding-left should be 0 -->
        <div class="container-fluid" style="">
            <h2 class="page-title"><?=$_lang['close_cashier']?></h2>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['credit_card_sales']?>
                        </h4>
                        <div class="card-body no-padding">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="width: 10%">BBSID</th>
                                        <th><?=$_lang['name']?></th>
                                        <th style="width: 25%"><?=$_lang['amount']?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php
                                if ($payment_methods):
                                    $total = 0;
                                    foreach ($payment_methods as $item):
                                ?>
                                    <tr>
                                        <td><?=$item['bbsid']?></td>
                                        <td><?=$item['name']?></td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard-num" name="credit_card[<?=$item['id']?>]" placeholder="<?=$_lang['total']?>">
                                        </td>
                                    </tr>
                                <?php 
                                    endforeach;
                                endif;?>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                    </div><!-- /.card -->
                </div><!-- /.col-6 -->
                <div class="col-6">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['cash_sales']?>
                        </h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <?=$_lang['amount_in_cashier_money']?>:
                                </div>

                                <div class="col-8">
                                    <textarea class="form-control open-keyboard-num" id="amount_counted" name="amount_counted" style="height: 80px; font-size: 22px; text-align: right;"></textarea>
                                </div>

                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4><?=$_lang['calculator']?>:</h4>
                                        </div>
                                        <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                                            <button type="button" class="btn btn-test" onclick="calculator('7');">7</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('8');">8</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('9');">9</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('+');"><i class="fas fa-plus"></i></button>
                                            <button type="button" class="btn btn-test" onclick="calculator('c');" style="font-size: 20px; font-weight: bold;">C</button>
                                        </div>
                                        <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                                            <button type="button" class="btn btn-test" onclick="calculator('4');">4</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('5');">5</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('6');">6</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('-');"><i class="fas fa-minus"></i></button>
                                            <button type="button" class="btn btn-test" onclick="calculator('<');"><i class="fas fa-chevron-left"></i></button>
                                        </div>
                                        <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                                            <button type="button" class="btn btn-test" onclick="calculator('1');">1</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('2');">2</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('3');">3</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('*');"><i class="fas fa-asterisk"></i></button>
                                            <button type="button" class="btn btn-test" onclick="calculator('(');" style="font-size: 20px; font-weight: bold;">(</button>
                                        </div>
                                        <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                                            <button type="button" class="btn btn-test" onclick="calculator('.');" style="font-size: 28px;">.</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('0');">0</button>
                                            <button type="button" class="btn btn-test" onclick="calculator('=');"><i class="fas fa-equals"></i></button>
                                            <button type="button" class="btn btn-test" onclick="calculator('/');"><i class="fas fa-divide"></i></button>
                                            <button type="button" class="btn btn-test" onclick="calculator(')');" style="font-size: 20px; font-weight: bold;">)</button>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-12">
                                            <h4><?=$_lang['bills']?>:</h4>
                                        </div>
                                        <div class="col-12">
                                            <div class="row">
                                            <?php
                                            $bills = [1000, 500, 200, 100, 50];
                                            foreach ($bills as $bill):
                                            ?>
                                            <div class="col-4 text-right">
                                                <label><?=$bill?>:</label>
                                            </div>
                                            <div class="col-8">
                                                <input type="text" id="bill_<?=$bill?>" data-bill="<?=$bill?>" class="form-control bill_input int open-keyboard-num" maxlength="10">
                                            </div>
                                            <?php endforeach?>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary"><?=$_lang['register']?></button>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.content-wrapper -->
    </form>
    <?php get_template('scripts')?>

    <script type="text/javascript">
    function calculator(key) {
        console.log(key);
        var container = $('#amount_counted');

        var keys_char = "1234567890+-*/().";

        console.log(keys_char.indexOf(key));

        if (keys_char.indexOf(key) > -1) {
            container.val(container.val() + key);
        }
        else if (key == '<') {
            container.val(container.val().substring(0, container.val().length - 1));
        }
        else if (key == 'c') {
            container.val('');
        }
        else if (key == '=') {
            container.val(eval(container.val()));
        }
    }
    var q = 0;
    function sumBills() {
        var total = 0;
        $('.bill_input').each(function(index){
            q++;
            if ($(this).val() && $(this).attr('data-bill')) {
                bill = parseInt($(this).attr('data-bill'));
                amount = parseInt($(this).val());

                console.table(q, amount, bill, (amount*bill));
                total += (amount*bill);
            }
        });
        return total;
    }
    $(function(){
        <?php if ($meta['virtual_keyboard'] == 1):?>
            $('.open-keyboard').keyboard({
                position: {
                    of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
                    my: 'center bottom',
                    at: 'center bottom',
                }
            });
            $('.open-keyboard-num').keyboard({
                position: {
                    of: null, //$(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
                    my: 'center bottom',
                    at: 'center bottom',
                },
                layout: 'num'
            }).bind('accepted', function(e, keyboard, el){
                $('#amount_counted').val(sumBills());
            });;
            <?php endif?>
    });
    </script>

</body>
</html>