<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head', ['title'=>'Terminal configuration'])?>
<style>

</style>
</head>
<body>
    <div class="loader"></div>

    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>

    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('setup_topbar')?>
            <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <?php get_template('terminal_topbar')?>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label><?=$_lang['language']?>:</label>
                                            <select class="form-control" name="meta[language]">
                                                <option value="pt"<?php if (@$meta['language'] == 'pt') echo ' selected';?>>Português</option>
                                                <option value="en"<?php if (@$meta['language'] == 'en') echo ' selected';?>>English</option>
                                                <option value="no"<?php if (@$meta['language'] == 'no') echo ' selected';?>>Norsk</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['currency']?>:</label>
                                            <select class="form-control" name="meta[currency]">
                                                <option value="R$ "<?php if (@$meta['currency'] == 'R$ ') echo ' selected';?>>(R$) Brazilian Real</option>
                                                <option value="kr "<?php if (@$meta['currency'] == 'kr ') echo ' selected';?>>(kr) Norwegian Kroner</option>
                                                <option value="NOK "<?php if (@$meta['currency'] == 'NOK ') echo ' selected';?>>(NOK) Norwegian Kroner</option>
                                                <option value="US$ "<?php if (@$meta['currency'] == 'US$ ') echo ' selected';?>>(US$) American Dollar</option>
                                                <option value="$ "<?php if (@$meta['currency'] == '$ ') echo ' selected';?>>($) Default</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['virtual_keyboard']?>:</label>
                                            <select class="form-control" name="meta[virtual_keyboard]">
                                                <option value="0"<?php if (@$meta['virtual_keyboard'] == '0') echo ' selected';?>><?=$_lang['no']?></option>
                                                <option value="1"<?php if (@$meta['virtual_keyboard'] == '1') echo ' selected';?>><?=$_lang['yes']?></option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label><?=$_lang['printer_server']?>:</label>
                                            <input type="text" class="form-control" name="meta[server_print]" value="<?=@$meta['server_print']?>">
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['printer_type']?>:</label>
                                            <select class="form-control" name="meta[terminal_printer_type]">
                                                <option value=""></option>
                                                <option value="usb"<?php if (@$meta['terminal_printer_type'] == 'usb') echo ' selected';?>>USB</option>
                                                <option value="ethernet"<?php if (@$meta['terminal_printer_type'] == 'ethernet') echo ' selected';?>>Ethernet</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label><?=$_lang['printer_name_ip']?>:</label>
                                            <input type="text" class="form-control" name="meta[terminal_printer_ip]" value="<?=@$meta['terminal_printer_ip']?>">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label><?=$_lang['discount_id']?>:</label>
                                            <input type="text" class="form-control" name="meta[product_discount_id]" value="<?=@$meta['product_discount_id']?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <img class="img-fluid img-thumbnail" src="<?=$picture?>">
                                    <button type="button" onclick="$('#picture')[0].click()" class="btn btn-info btn-block"><?=$_lang['change_logo']?></button>
                                    <div id="picture_name"></div>

                                    <input type="file" style="position: absolute; top: -2000px;" name="picture" id="picture">
                                </div>
                            </div>
                            
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6">
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-primary" type="submit"><?=$_lang['submit']?></button>
                                </div>
                            </div>
                        </div><!-- /.card-footer -->
                    </div><!-- /.card -->
                </div><!-- /.col -->
            </div><!-- /.row -->
            </form>
        </div><!-- /.container -->
    </div><!-- /#content-wrapper -->

<?php get_template('scripts')?>

<script type="text/javascript">
$(function(){
    $('#picture').change(function(){
        $('#picture_name').html('<em>Submit to save image</em>');
    });
});

</script>

</body>
</html>