<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head', ['title'=>'Favorite Buttons'])?>
<style>

</style>
</head>
<body>
    <div class="loader"></div>

    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>

    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('setup_topbar')?>
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height: 76vh; margin-bottom: 8px;">
                        <div class="card-header">
                            <?php get_template('terminal_topbar')?>
                        </div>
                        <div class="card-body" style="overflow-y: auto;">
                            <ul class="nav nav-tabs" style="margin-bottom: 15px;">
                                <?php foreach ($tabs as $tab):?>
                                <li class="nav-item">
                                    <a class="nav-link <?=$selectTab($tab['id'])?>" href="<?=WWWROOT.'/terminal/favorite_buttons?tab_id='.$tab['id']?>"><?=$tab['name']?></a>
                                </li>
                                <?php endforeach?>
                                <li class="nav-item">
                                    <a class="nav-link" href="#" onclick="addTab(event);"><i class="fas fa-plus"></i></a>
                                </li>
                            </ul>
                            <div class="row">
                                <div class="col-6">
                                    <form action="" method="post">
                                        <input type="hidden" name="tab_id" value="<?=$current_tab->id?>">
                                        <input type="text" value="<?=$current_tab->name?>" placeholder="<?=$_lang['tab_name']?>" class="form-control" style="width: 50%; display: inline-block;" name="tab_name">
                                        <button type="submit" class="btn btn-primary" style=""><?=$_lang['register']?></button>
                                        <button type="button" class="btn btn-danger" style="" onclick="removeTab('<?=$current_tab->id?>');"><?=$_lang['delete']?></button>
                                    </form>
                                </div>
                                <div class="col-12" style="margin-bottom: 10px; margin-top: 10px;">
                                    <?php
                                    for ($i=0;$i<20;$i++):
                                        $id = '';
                                        $id_html = 'fav_button_'.$i;
                                        $command = '';
                                        $text = '&nbsp;';
                                        if (array_key_exists($id_html, $buttons)) {
                                            $text = $buttons[$id_html]['name'];
                                            $command = $buttons[$id_html]['command'];
                                            $id = $buttons[$id_html]['id'];
                                        }
                                    ?>
                                    <button type="button" class="btn-fav" onclick="selectFavButton(this)" data-id="<?=$id?>" data-command="<?=$command?>" id="<?=$id_html?>"><?=$text?></button>
                                    <?php endfor?>
                                </div>
                                <div class="col-4">
                                    <form action="" method="post">
                                        <input type="hidden" name="favorite_button_tab_id" value="<?=@$_GET['tab_id']?>">
                                        <label><?=$_lang['name']?>:</label>
                                        <input type="text" class="form-control" name="name" id="fav-btn-name" onkeyup="updateFavButtonName(this.value)">
                                        <label style="margin-top: 6px;"><?=$_lang['command']?>:</label>
                                        <input type="text" class="form-control" name="command" id="command">
                                        <input type="hidden" name="id_html" id="id_html">
                                        <input type="hidden" name="id" id="id">
                                        <button type="submit" class="btn btn-primary" style="margin-top: 6px;"><?=$_lang['register']?></button>
                                        <button type="button" class="btn btn-danger" disabled id="btn-delete" onclick="deleteFavButton();" style="margin-top: 6px;"><?=$_lang['delete']?></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /#content-wrapper -->

<?php get_template('scripts')?>

<script type="text/javascript">
function updateFavButtonName(val) {
    var button = $('.btn-fav.active');
    if (button.length == 0) {
        return;
    }
    button.text(val);
}

function selectFavButton(dis) {
    $('.btn-fav').removeClass('active');
    $(dis).addClass('active');
    $('#fav-btn-name').val($(dis).text());
    $('#command').val($(dis).data('command'));
    $('#id_html').val($(dis).attr('id'));
    $('#id').val($(dis).data('id'));

    if ($(dis).data('id')) {
        $('#btn-delete').prop('disabled', false);
    }
    else {
        $('#btn-delete').prop('disabled', true);
    }
}

function deleteFavButton() {

    $.confirm({
        title: 'Confirmation',
        content: 'Are you sure?',
        type: 'red',
        buttons: {
            confirm: {
                text: 'Delete',
                keys: ['enter'],
                btnClass: 'btn-red',
                action: function() {
                    doDeleteFavButton();
                }
            },
            cancel: {
                text: 'Cancel',
                keys: ['esc']
            }
        }
    });
}

function doDeleteFavButton() {
    var id = $('#id').val();

    $('body').loading();

    var url = wwwroot + '/terminal_async/removeFavoriteButton';
    var params = {
        id: id
    };

    var posting = $.post(url, params);

    posting.done(function(data){
        console.log(data);
        if (data.status.code == 200) {
            window.setTimeout(function(){
                window.location = wwwroot + '/terminal/config';
            }, 800);
        }
    }).fail(function(a, b, c){
        console.log(a, b, c);
    });
}

function addTab(e) {
    e.preventDefault();

    $.confirm({
        title: _lang['new_tab'],
        content: '' +
        '<form action="" class="formName">' +
        '<div class="form-group">' +
        '<input type="text" placeholder="'+_lang['tab_name']+'" class="name form-control" required />' +
        '</div>' +
        '</form>',
        buttons: {
            formSubmit: {
                text: 'Submit',
                btnClass: 'btn-blue',
                action: function () {
                    var name = this.$content.find('.name').val();
                    if(!name){
                        $.alert(_lang['message_0003']);
                        return false;
                    }
                    $('body').loading();

                    var url = wwwroot + '/terminal_async/addTab';
                    var params = {name: name};

                    var posting = $.post(url, params);
                    posting.done(function(data){
                        if (data.status.code == 200) {
                            window.location = wwwroot + '/terminal/config?tab_id=' + data.items;
                        }
                    });
                }
            },
            cancel: function () {
                //close
            },
        },
        onContentReady: function () {
            // bind to events
            var jc = this;
            this.$content.find('form').on('submit', function (e) {
                // if the user submits the form by pressing enter in the field.
                e.preventDefault();
                jc.$$formSubmit.trigger('click'); // reference the button and click it
            });
        }
    });
}

function removeTab(tab_id) {
    $.confirm({
        title: _lang['delete_tab'],
        content: _lang['are_you_sure'],
        buttons: {
            confirm: {
                text: _lang['confirm'],
                btnClass: 'btn-red',
                action: function() {
                    if (tab_id == '1') {
                        $.alert({
                            title: _lang['error'],
                            content: _lang['message_0005']
                        });
                        return;
                    }
                    else {
                        window.location = wwwroot + '/terminal/config?action=delete&tab_id='+tab_id;
                    }
                }
            },
            cancel: function () {
                return;
            }
        }
    });
}

</script>

</body>
</html>