<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
    <link rel="stylesheet" href="<?=WEBROOT?>/plugins/font-awesome/css/all.css">

    <link href="<?=WEBROOT?>/themes/interface.terminal.css" rel="stylesheet">
    <link href="<?=WEBROOT?>/pages/terminal/index.css" rel="stylesheet">
    <style type="text/css">
    .container-fluid {
        max-width: 1024px;
    }

    .select-cell {
        background: #3b71e5;
        color: #fff;
    }
    </style>
</head>
<body>

<?php get_template('topbar')?>

<div id="product_list"></div>

<div class="container-fluid page-container">
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="hidden" id="employee_id" value="">
                        <input type="text" readonly class="form-control" id="employee_name" placeholder="<?=$_lang['employee']?>" aria-label="Funcionário" aria-describedby="button-addon1">
                        <div class="input-group-append">
                            <button class="btn btn-primary change_user" type="button" onclick="openGenericModal('employee')"><?=$_lang['search']?></button>
                        </div>
                    </div>
                </div><!-- /.col -->
                <div class="col-md-6">
                    <div class="input-group mb-3">
                        <input type="hidden" id="client_id" value="">
                        <input type="text" readonly class="form-control" id="client_name" placeholder="<?=$_lang['client']?>" aria-label="Cliente" aria-describedby="button-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-primary change_customer" type="button" onclick="openGenericModal('client')" id="button-addon2"><?=$_lang['search']?></button>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div>
            <div class="row" style="margin-bottom: 8px;">
                <div class="col-12">
                    <!-- product search -->
                    <div class="input-group mb-3">
                        <input type="text" id="product_input" class="form-control open-keyboard" placeholder="<?=strtoupper($_lang['products'])?>" aria-label="<?=strtoupper($_lang['products'])?>" aria-describedby="add_product">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" id="add_product" name="add_product" onclick="searchProducts();"><?=$_lang['search']?></button>
                        </div>
                    </div>
                </div><!-- /.col -->
            </div>
            <div class="row">
                <div class="col-md-12" id="products_container" style="height: 25vh; overflow: auto; border-bottom: 1px solid #ccc;">
                    <!-- product table -->
                    <table id="product_table" class="table table-bordered">
                        <thead class="thead-light">
                            <tr>
                                <th>#</th>
                                <th><?=$_lang['product']?></th>
                                <th><?=$_lang['qty']?></th>
                                <th><?=$_lang['price']?></th>
                                <th><?=$_lang['discount']?></th>
                                <th><?=$_lang['total']?></th>
                                <th><?=$_lang['info']?></th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div><!-- /.col -->
            </div>
            <div class="row" style="margin-top: 20px">
                <!-- <div class="col-md-6">
                    
                </div>
                <div class="col-md-6 text-right">
                    <button class="btn btn-test pull-right" onclick="scrollPanel('up')"><i class="fas fa-arrow-up"></i></button>
                    <button class="btn btn-test pull-right" onclick="scrollPanel('down')"><i class="fas fa-arrow-down"></i></button>
                </div> -->
                <div class="col-12">
                    <nav style="margin-bottom: 15px;">
                        <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <?php
                    $active = 'active';
                    $sel = 'true';
                    foreach ($tabs as $tab):?>
                        <a class="nav-item nav-link <?=$active?>" id="nav-home-tab" data-toggle="tab" href="#tabpane_<?=$tab['id']?>" role="tab" aria-controls="tabpane_<?=$tab['id']?>"><?=$tab['name']?></a>
                    <?php
                        $active = '';
                        $sel = 'false';
                    endforeach;?>
                        </div>
                    </nav>

                    <div class="tab-content" id="nav-tabContent">
                    <?php 
                    $show = 'show active';
                    foreach ($tabs as $tab):?>
                        <div class="tab-pane <?=$show?>" id="tabpane_<?=$tab['id']?>" role="tabpanel">
                            <?php
                            for ($i=0;$i<20;$i++):
                                if (!isset($buttons[$tab['id']])) {
                                    break;
                                }
                                $id = '';
                                $id_html = 'fav_button_'.$i;
                                $command = '';
                                $text = '&nbsp;';
                                $visibility = 'hidden';
                                if (array_key_exists($id_html, $buttons[$tab['id']])) {
                                    $text = $buttons[$tab['id']][$id_html]['name'];
                                    $command = $buttons[$tab['id']][$id_html]['command'];
                                    $id = $buttons[$tab['id']][$id_html]['id'];
                                    $visibility = 'visible';
                                }
                            ?>
                            <button type="button" class="btn-fav" style="visibility: <?=$visibility?>" onclick="useFavoriteButton(this)" data-id="<?=$id?>" data-command="<?=$command?>" id="<?=$id_html?>"><?=$text?></button>
                            <?php endfor?>
                        </div>
                    <?php
                    $show = '';
                    endforeach?>
                    </div>
                    
                </div>
            </div><!-- /.row -->
        </div><!-- /.col -->
        <div class="col-md-3 text-right" id="right-column">
            <!-- keypad -->
            <div class="row">
                <div class="col-12 text-right">
                    <h3 style="margin: 0;"><?=$_lang['total']?>: <span id="total-output">0</span></h3>
                    <h4 style="margin: 0;"><?=$_lang['vat']?>: <span id="vat-output">0</span></h4>
                    <h4 style="margin: 0;"><?=$_lang['vat_exclude']?>: <span id="vat-ex-output">0</span></h4>
                </div>
            </div>
            <div class="row" style="margin-top: 8px;">
                <div class="col-sm-12 col-md-12">
                    <button type="button" class="btn btn-test btn-text" onclick="keypadFunction('print')" style="margin-top: 4px;padding: 2%; font-size: 16px;"><i class="fas fa-print"></i></button>
                    <button type="button" class="btn btn-test btn-text" onclick="keypadFunction('gift_card')" style="margin-top: 4px;padding: 2%;"><?=$_lang['gift_card']?></button>
                    <button type="button" class="btn btn-test btn-text" onclick="event.stopPropagation();keypadFunction('details')" style="margin-top: 4px;padding: 2%;"><?=$_lang['details']?></button>
                    <button type="button" class="btn btn-test btn-text danger" onclick="keypadFunction('delete')" style="margin-top: 4px;padding: 2%;"><?=$_lang['remove']?></button>
                </div>
                <!-- <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                    <button type="button" class="btn btn-test" onclick="keypadType('1');">1</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('2');">2</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('3');">3</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('-');"><i class="fas fa-minus"></i></button>
                </div>
                <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                    <button type="button" class="btn btn-test" onclick="keypadType('4');">4</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('5');">5</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('6');">6</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('*');"><i class="fas fa-asterisk"></i></button>
                </div>
                <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                    <button type="button" class="btn btn-test" onclick="keypadType('7');">7</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('8');">8</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('9');">9</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('<');"><i class="fas fa-chevron-left"></i></button>
                </div>
                <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                    <button type="button" class="btn btn-test danger" onclick="keypadType('cancel');" style="width: 104px;"><i class="fas fa-ban"></i></button>
                    <button type="button" class="btn btn-test" onclick="keypadType('0');" style="width: 104px;">0</button>
                    <button type="button" class="btn btn-test" onclick="keypadType(',');" style="font-size: 20px;">,</button>
                    <button type="button" class="btn btn-test" onclick="keypadType('=');" id="keypad-enter"><i class="fas fa-check"></i></button>
                </div> -->
                <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                    <button type="button" class="btn btn-test 4x btn-text" onclick="startPayment();" id="payment-button" style="width: 208px; font-size: 14px;"><?=$_lang['payment']?></button>
                </div>
                <div class="col-sm-12 col-md-12" style="margin-top: 20px;">
                    <button type="button" class="btn btn-test btn-text" onclick="keypadFunction('park_order')" id="park_button"><?=$_lang['parked_orders']?></button>
                    <button type="button" class="btn btn-test btn-text" onclick="keypadFunction('order_details')"><?=$_lang['details']?></button>
                    <button type="button" class="btn btn-test btn-text" onclick="keypadFunction('deposit')"><?=$_lang['deposit']?></button>
                    <button type="button" class="btn btn-test btn-text" onclick="keypadFunction('cashout')"><?=$_lang['cashout']?></button>
                </div>
                <div class="col-sm-12 col-md-12" style="margin-top: 4px;">
                    <button type="button" class="btn btn-test btn-text" onclick="keypadFunction('order_discount')" style="padding-left: 0; padding-right: 0;"><?=$_lang['discount']?></button>
                    <button type="button" class="btn btn-test btn-text" onclick="window.location = '?clear=true';" style="width: 104px;"><?=$_lang['clear']?></button>
                    <button type="button" class="btn btn-test btn-text danger" onclick="cancelOrder(true);" style="width: 103px;"><?=$_lang['cancel']?></button>
                    <button type="button" class="btn btn-test btn-text danger" onclick="goToUrl('terminal/close')"><?=$_lang['close_cashier']?></button>
                </div>
            </div><!-- /.row -->
        </div>
    </div><!-- /.row -->
        
</div><!-- /.container -->

<div class="modal" tabindex="-1" role="dialog" id="product-modal">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" id="modalContent">
            <div class="modal-header">
                <h3 class="modal-title"><?=$_lang['products']?></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="padding: 0;">
                <table class="table table-bordered table-hover" id="product-table-output" style="margin-top: 0;">
                    <thead>
                        <tr>
                            <th><?=$_lang['product']?></th>
                            <th><?=$_lang['color']?></th>
                            <th><?=$_lang['size']?></th>
                            <th><?=$_lang['price']?></th>
                            <th><?=$_lang['product_number']?></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <!-- <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal"><?=$_lang['cancel']?></button>
                <button type="submit" class="btn btn-success"><?=$_lang['submit']?></button>
            </div> -->
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="generic-modal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title"></h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal"><?=$_lang['cancel']?></button>
                <button type="submit" class="btn btn-success"><?=$_lang['submit']?></button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="pos_session_id" value="<?=$pos_session->id?>">
<input type="hidden" id="currency" value="<?=$meta['currency']?>">

<?php get_template('scripts')?>

<script type="text/javascript" src="<?=WEBROOT?>/pages/terminal/index.js"></script>

<script type="text/javascript">
$(function(){
    var r_width = $('#right-column').width();
    var btn_width = (r_width / 4) - 3;
    var btn_width_2x = (btn_width * 2) + 3.5;
    var btn_width_4x = (btn_width * 4) + (btn_width * 0.21);
    $('.btn-test').css({'width': btn_width+'px', 'height': btn_width+'px'});
    $('.btn-test.2x').css({'width': btn_width_2x+'px', 'height': btn_width+'px'});
    $('.btn-test.4x').css({'width': btn_width_4x+'px', 'height': btn_width+'px'});

    $('#nav-tab .nav-link').click(function(){
        $('#nav-tab .nav-link').removeClass('active');
        $(this).addClass('active');
    });

    $('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom'
        },
    }).bind('accepted', function(e, keyboard, el){
        var e = $.Event( "keydown", { keyCode: 13 } );
        current_input.trigger(e);
    });
});
</script>

</body>
</html>