<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head', ['title'=>$_lang['payment_methods']])?>
<style>

</style>
</head>
<body>
    <div class="loader"></div>

    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>

    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('setup_topbar')?>
            <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height: 76vh; margin-bottom: 8px;">
                        <div class="card-header">
                            <?php get_template('terminal_topbar')?>
                        </div>
                        <div class="card-body no-padding" style="overflow-y: auto;">
                            <table class="table table-striped table-bordered">
                                <thead class="thead-light">
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th style="width: 10%;">BBSID</th>
                                        <th><?=$_lang['name']?></th>
                                        <th><?=$_lang['long_name']?></th>
                                        <th><?=$_lang['account']?></th>
                                        <th><?=$_lang['show_on_closure']?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php if ($payment_methods):?>
                                    <?php foreach ($payment_methods as $method):?>
                                    <tr>
                                        <td><?=$method['id']?></td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard" value="<?=$method['bbsid']?>" name="update[<?=$method['id']?>][bbsid]" value="">
                                        </td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard" value="<?=$method['name']?>" name="update[<?=$method['id']?>][name]">
                                        </td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard" value="<?=$method['long_name']?>" name="update[<?=$method['id']?>][long_name]">
                                        </td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard" value="<?=$method['account_number']?>" name="update[<?=$method['id']?>][account_number]">
                                        </td>
                                        <td>
                                            <input type="checkbox" value="1" name="update[<?=$method['id']?>][show_on_closure]" 
                                                <?= $method['show_on_closure'] == 1 ? ' checked' : ''?>>
                                        </td>
                                    </tr>
                                    <?php endforeach;?>
                                    <?php endif?>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard new-field" value="" name="new[1][bbsid]" value="">
                                        </td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard new-field" value="" name="new[1][name]">
                                        </td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard new-field" value="" name="new[1][long_name]">
                                        </td>
                                        <td class="blend">
                                            <input type="text" class="open-keyboard new-field" value="" name="new[1][account_number]">
                                        </td>
                                        <td>
                                            <input type="checkbox" value="1" name="new[1][show_on_closure]" >
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-6">
                                    <?php //get_pagination($products[1], $_GET['page'], $pace);?>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="submit" class="btn btn-primary"><?=$_lang['submit']?></button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            </form>
        </div><!-- /.container -->
    </div><!-- /#content-wrapper -->

<?php get_template('scripts')?>

<script type="text/javascript">
$(function(){
});

</script>

</body>
</html>