<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head', ['title'=>$_lang['receipts']])?>
<style>

</style>
</head>
<body>
    <div class="loader"></div>

    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>

    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('setup_topbar')?>
            <form action="" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    <div class="card" style="height: 76vh; margin-bottom: 8px;">
                        <div class="card-header">
                            <?php get_template('terminal_topbar')?>
                        </div>
                        <div class="card-body" style="overflow-y: auto;">
                            <div class="row">
                                <div class="col-4">
                                    <label><?=$_lang['title_coupon']?>:</label>
                                    <input type="text" class="form-control" name="settings[title_coupon]" value="<?=@$settings['title_coupon']?>">
                                </div>
                                <div class="col-4">
                                    <label><?=$_lang['message_cupom']?>:</label>
                                    <input type="text" class="form-control" name="settings[message_cupom]" value="<?=@$settings['message_cupom']?>">
                                </div>
                                <div class="col-4">
                                    <label><?=$_lang['print_two_lines']?>:</label>
                                    <select name="settings[print_two_lines]" class="select2">
                                        <option <?=@$settings['print_two_lines'] == 0 ? 'selected' : ''?> value="0"><?=$_lang['no']?></option>
                                        <option <?=@$settings['print_two_lines'] == 1 ? 'selected' : ''?> value="1"><?=$_lang['yes']?></option>
                                    </select>
                                </div>
                            </div>
                        </div><!-- /.card-body -->
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-md-12 text-right">
                                    <button type="submit" class="btn btn-primary"><?=$_lang['submit']?></button>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div><!-- /.col -->
            </div><!-- /.row -->
            </form>
        </div><!-- /.container -->
    </div><!-- /#content-wrapper -->

<?php get_template('scripts')?>

<script type="text/javascript">
$(function(){
});

</script>

</body>
</html>