<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-bottom: 8px;
    }
    </style>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('reports_topbar')?>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['order_details'] . ' - #' . $order['id']?>
                        </h4>
                        <div class="card-body no-padding">
                            <table class="table table-bordered" style="margin-bottom: 0;">
                                <tr>
                                    <th class="text-right"><?=$_lang['pos_name']?>:</th>
                                    <td><?=$order['nickname']?></td>
                                    <th class="text-right"><?=$_lang['client']?>:</th>
                                    <td><?=$order['client_name']?></td>
                                    <th class="text-right"><?=$_lang['user']?>:</th>
                                    <td><?=$order['login']?></td>
                                </tr>
                                <tr>
                                    <th class="text-right"><?=$_lang['type']?>:</th>
                                    <td><?=$order_types[$order['order_type']]?></td>
                                    <th class="text-right"><?=$_lang['date']?>:</th>
                                    <td><?=format_date($order['date_create'], 'd/m/Y', true)?></td>
                                    <th class="text-right"><?=$_lang['amount']?>:</th>
                                    <td><?=format_money($order['amount'], 'kr ')?></td>
                                </tr>
                                <tr>
                                    <th class="text-right"><?=$_lang['payment_method']?>:</th>
                                    <td><?=$order['payment_method_name']?></td>
                                    <th class="text-right"><?=$_lang['amount_outstanding']?>:</th>
                                    <td><?=format_money($order['amount_outstanding'], 'kr ')?></td>
                                    <th class="text-right"><?=$_lang['amount_paid']?>:</th>
                                    <td><?=format_money($order['amount_paid'], 'kr ')?></td>
                                </tr>
                            </table>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->

                <div class="col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['products']?>
                        </h4>
                        <div class="card-body no-padding">
                            <table class="table table-bordered" style="margin-bottom: 0;">
                                <thead>
                                    <tr>
                                        <th><?=$_lang['product_number']?></th>
                                        <th><?=$_lang['product']?></th>
                                        <th><?=$_lang['qty']?></th>
                                        <th><?=$_lang['price']?></th>
                                        <th><?=$_lang['total']?></th>
                                        <th><?=$_lang['mva']?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php if ($items):?>
                                    <?php
                                    foreach ($items as $item):
                                        $product_name = $item['product_name'];
                                        $product_name .= $item['color_name'] ? ' '.$item['color_name'] : '';
                                        $product_name .= $item['size_name'] ? ' '.$item['size_name'] : '';
                                    ?>
                                    <tr>
                                        <td><?=$item['product_number']?></td>
                                        <td><?=$product_name?></td>
                                        <td><?=$item['qty']?></td>
                                        <td class="text-right"><?=format_money($item['value'], 'kr ')?></td>
                                        <td class="text-right"><?=format_money($item['actual_value'], 'kr ')?></td>
                                        <td class="text-right"><?=format_money($item['tax'], 'kr ')?></td>
                                    </tr>
                                    <?php endforeach;?>
                                <?php else:?>
                                    <tr>
                                        <td colspan="6">
                                            <em>No items</em>
                                        </td>
                                    </tr>
                                <?php endif?>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                    </div><!-- /.card -->
                </div><!-- /.col -->

                <div class="col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['payments']?>
                        </h4>
                        <div class="card-body no-padding">
                            <table class="table table-bordered" style="margin-bottom: 0;">
                                <thead>
                                    <tr>
                                        <th><?=$_lang['payment_method']?></th>
                                        <th><?=$_lang['date']?></th>
                                        <th><?=$_lang['amount']?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php if ($payments):?>
                                    <?php
                                    foreach ($payments as $payment):
                                    ?>
                                    <tr>
                                        <td><?=$payment['payment_method_name']?></td>
                                        <td><?=format_date($payment['date_create'], 'd/m/Y', true)?></td>
                                        <td class="text-right"><?=format_money($payment['amount_paid'], 'kr ')?></td>
                                    </tr>
                                    <?php endforeach;?>
                                <?php else:?>
                                    <tr colspan="4">
                                        <td colspan="3"><em>No payments</em>
                                    </tr>
                                <?php endif?>
                                </tbody>
                            </table>
                        </div><!-- /.card-body -->
                    </div><!-- /.card -->
                </div><!-- /.col -->

                <div class="col-12">
                    <a href="<?=$_SESSION['back_url']?>" class="btn btn-primary"><?=$_lang['go_back']?></a>
                    <?php if ($order['amount_outstanding'] > 0):?>
                    <a href="<?=WWWROOT.'/terminal/index?order_id='.$order['id']?>" class="btn btn-success"><?=$_lang['send_to_cashier']?></a>
                    <?php endif?>
                </div>
               
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.content-wrapper -->
    <?php get_template('scripts')?>

    <script type="text/javascript">
    
    </script>

</body>
</html>