<form id="form-update-customer_group">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" value="<?=$customer_group->name?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doUpdateCustomersGroup(e, '<?=$customer_group->id?>');
		e.preventDefault();
		return false;
	}
}
</script>