<form id="form-update-payment_method">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" value="<?=$payment_method->name?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['invoice']?>:</label>
			<select class="form-control" name="invoice" onkeydown="preventSubmit(event)">
				<option <?=$payment_method->invoice == 1 ? 'selected' : '' ?> value="1">Sim</option>
				<option <?=$payment_method->invoice == 0 ? 'selected' : '' ?> value="0">Não</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['deadlinemonth']?>:</label>
			<input type="text" class="form-control datepicker" name="deadlinemonth" value="<?=$payment_method->deadlinemonth?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['deadlineyear']?>:</label>
			<input type="text" class="form-control datepicker" name="deadlineyear" value="<?=$payment_method->deadlineyear?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doUpdateCustomersGroup(e, '<?=$payment_method->id?>');
		e.preventDefault();
		return false;
	}
}
$('.datepicker').mask('00/00/0000');
$('.datepicker').datepicker({
	format: 'dd/mm/yyyy'
});
</script>