<form id="form-add-payment_method">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['invoice']?>:</label>
			<select class="form-control" name="invoice" onkeydown="preventSubmit(event)">
				<option value="1">Sim</option>
				<option value="0">Não</option>
			</select>
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['deadlinemonth']?>:</label>
			<input type="text" class="form-control datepicker" name="deadlinemonth" onkeydown="preventSubmit(event)">
		</div>
	</div>
	<div class="row">
		<div class="col">
			<label><?=$_lang['deadlineyear']?>:</label>
			<input type="text" class="form-control datepicker" name="deadlineyear" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doAddPaymentMethod(e);
		e.preventDefault();
		return false;
	}
}
$('.datepicker').mask('00/00/0000');
$('.datepicker').datepicker({
	format: 'dd/mm/yyyy'
});
</script>