<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
</head>
<body>
<div class="loader"></div>
<?php get_template('topbar')?>
<?php get_template('sidebar')?>
<div class="container" style="">
    <?php get_template('entry_topbar')?>
    <form action="" method="post">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Editar País
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-10">
                            <label>Nome:</label>
                            <input type="text" name="name" class="form-control open-keyboard" value="<?=$country->name?>">
                        </div>
                        <div class="col-md-2">
                            <label>Código:</label>
                            <input type="text" name="code" class="form-control open-keyboard" value="<?=$country->code?>">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary">Salvar</button> <div class="btn btn-secondary" onclick="location.href='<?=WWWROOT?>/countries/index'">Voltar</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
    </form>
</div><!-- /.container -->

<?php get_template('scripts')?>

<script type="text/javascript"></script>

</body>
</html>