<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-bottom: 8px;
    }
    </style>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <form action="" method="post">
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('setup_topbar')?>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['company_data']?>
                        </h4>
                        <div class="card-body">
                            <div class="row">
                                <!-- <div class="col-4">
                                    <?=$_lang['language']?>:
                                </div>
                                <div class="col-8">
                                    <select class="form-control select2" name="language_id">
                                        <?php foreach ($languages as $language):?>
                                        <option value="<?=$language['id']?>"><?=$language['name']?></option>
                                        <?php endforeach?>
                                    </select>
                                </div> -->
                                <div class="col-4">
                                    <?=$_lang['company_name']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['name']?>">
                                </div>
                                <div class="col-4">
                                    <?=$_lang['company_last_name']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['company_name']?>">
                                </div>
                                <div class="col-4">
                                    <?=$_lang['phone']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['phone']?>">
                                </div>
                                <div class="col-4">
                                    <?=$_lang['address']?>/<?=$_lang['city']?>:
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['address']?>">
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['city']?>">
                                </div>
                                <div class="col-4">
                                    <?=$_lang['zip']?>/<?=$_lang['area']?>:
                                </div>
                                <div class="col-2">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['zip']?>">
                                </div>
                                <div class="col-6">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['area']?>">
                                </div>
                                <div class="col-4">
                                    <?=$_lang['additional_info']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['about']?>">
                                </div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
                <div class="col-6">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['license']?>
                        </h4>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">
                                    <?=$_lang['terminals']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="" readonly value="<?=$company_data['terminals']?>">
                                </div>
                                <div class="col-4">
                                    <?=$_lang['current_connections']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="" readonly value="<?=$current_connections?>">
                                </div>
                                <div class="col-4">
                                    <?=$_lang['device_id']?>:
                                </div>
                                <div class="col-8">
                                    <input type="text" class="form-control" name="" readonly value="<?=$device_id?>">
                                </div>
                            </div>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->

                <!-- <div class="col-12">
                    <div class="text-right" style="background: #fff; padding: 8px;border: 1px solid #ddd;">
                        <button type="submit" class="btn btn-primary"><?=$_lang['submit']?></button>
                    </div>
                </div> -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.content-wrapper -->
    </form>
    <?php get_template('scripts')?>

    <script type="text/javascript"></script>

</body>
</html>