<form id="form-add-client">
	<div class="row">
		<div class="col-md-6">
			<label>Nome:</label>
			<input type="text" class="form-control uppercase open-keyboard" name="name">
		</div>
		<div class="col-md-3">
			<label>CPF:</label>
			<input type="text" class="form-control cpf open-keyboard" name="cpf">
		</div>
		<div class="col-md-3">
			<label>Nascimento:</label>
			<input type="text" class="form-control datepicker" name="birthday">
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	$('.uppercase').keyup(function(){
		$(this).val($(this).val().toUpperCase());
	});
	$('.cpf').mask('000.000.000-00');
	$('.datepicker').mask('00/00/0000');
	$('.datepicker').datepicker({
		format: 'dd/mm/yyyy'
	});

	$('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom'
        }
    });
});
</script>