<form id="form-money-movement">
<input type="hidden" name="type" value="<?=$_GET['type']?>">
<div class="row">
	<div class="col-12">
		<label><?=$_lang['title']?>:</label>
		<input type="text" name="title" class="form-control open-keyboard" value="">
	</div>
	<div class="col-6">
		<label><?=$_lang['amount']?>:</label>
		<input type="text" name="amount" class="form-control money open-keyboard-num" value="" maxlength="200">

		<label><?=$_lang['user']?>:</label>
		<input type="text" readonly class="form-control open-keyboard" value="<?=$_SESSION['app']['user']['login']?>">
		<input type="hidden" name="user_id" value="<?=$_SESSION['app']['user']['id']?>">
	</div>
	<div class="col-6">
		<label><?=$_lang['description']?>:</label>
		<textarea class="form-control open-keyboard" style="height: 180px;" name="description"></textarea>
	</div>
</div>
</form>

<script type="text/javascript">
$(function(){
	$('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
        },
    });

    $('.open-keyboard-num').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
        },
        layout: 'num'
    });
});
</script>