<form id="form-order-line">
<input type="hidden" name="order_line_id" id="order_line_id" value="<?=$order_line->id?>">
<div class="row">
	<div class="col-4">
		<label><?=$_lang['user']?>:</label>
		<select name="user_id" class="form-control select2">
			<?php foreach ($users as $user):
				$sel = $order_line->user_id == $user['id'] ? ' selected' : '';
			?>
			<option value="<?=$user['id']?>"<?=$sel?>><?=$user['login']?></option>
			<?php endforeach?>
		</select>
		
		<label style="margin-top: 10px"><?=$_lang['serial']?>:</label>
		<input type="text" name="serial" class="form-control open-keyboard" maxlength="200" id="order_line_serial" value="<?=@$serial->serial?>">

		<label style="margin-top: 10px;">
			<input type="checkbox" name="is_gift" value="1" <?php if ($order_line->is_gift == 1) echo ' checked';?>>
			<?=$_lang['mark_as_gift']?>
		</label><div class="clearfix"></div>
	</div>
	<div class="col-4">
		<label><?=$_lang['qty']?>:</label>
		<input type="text" name="qty" class="form-control int open-keyboard-num" value="<?=$order_line->qty?>" maxlength="200">
	
		<label><?=$_lang['price']?>:</label>
		<input type="text" name="value" class="form-control money open-keyboard-num" value="<?=format_money($order_line->value, '')?>" maxlength="200">
	</div>
	<div class="col-4">
		<label><?=$_lang['info']?>:</label>
		<textarea class="form-control open-keyboard" style="width: 100%; height: 120px;" name="extra_info"><?=$order_line->extra_info?></textarea>
	</div>
</div>
</form>
<script type="text/javascript">
$(function(){
	setModalTitle('<?=$product->name?>');
	
	$('.select2').select2();
	$('.money').maskMoney({thousands: '.', decimal: ','});

	$('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
            at2: 'center center' // used when "usePreview" is false
        },
    });

    $('.open-keyboard-num').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
            at2: 'center center' // used when "usePreview" is false
        },
        layout: 'num'
    });
});
</script>