<form id="form-order">
	<div class="row">
		<div class="col-md-6">
			<label><?=$_lang['info']?>:</label>
			<textarea class="form-control" name="extra_info" style="height: 200px;"><?=$order->extra_info?></textarea>
		</div>
	</div>
</form>
<script type="text/javascript">
$(function(){
	
});
</script>