<form id="form-discount">
	<div class="row">
		<div class="col-6">
			<label><?=$_lang['current_total']?>:</label>
			<input type="text" readonly class="form-control" id="current_total" value="<?=format_money($order->amount, '')?>">
		</div>
		<div class="col-6">
			<label><?=$_lang['discount']?>:</label>
			<input type="text" name="discount" id="discount" class="form-control money open-keyboard-num" value="" maxlength="200">

			<label><?=$_lang['new_order_total']?>:</label>
			<input type="text" id="new_total" class="form-control open-keyboard-num" value="">
		</div>
	</div>
</form>

<script type="text/javascript">
$(function(){

	$('#new_total').change(function(){
		current_total = parse($('#current_total').val(), 'float');
		new_total = parse($(this).val(), 'float');

		console.log(current_total, new_total);

		discount = current_total - new_total;
		$('#discount').val(discount.formatMoney(2));
	});

	$('#discount').change(function(){
		current_total = parse($('#current_total').val(), 'float');

		if ($(this).val().indexOf('%') >= 0) {
			d = $(this).val().replace('%', '');
			discount = current_total * (parse(d, 'float') / 100);
		}
		else {
			discount = parse($(this).val(), 'float');
		}

		console.log(current_total, discount);

		new_total = current_total - discount;
		$('#new_total').val(new_total.formatMoney(2));
	});

	$('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
        },
    });

    $('.open-keyboard-num').keyboard({
        layout: 'num'
    });
});
</script>