<div class="row">
	<div class="col-md-6 col-sm-12">
		<form id="park-order-form">
			<input type="text" class="form-control" name="description" placeholder="<?=$_lang['description']?>">
		</form>
	</div>
</div>
<script type="text/javascript">
$(function(){
	$('form input').keydown(function (e) {
	    if (e.keyCode == 13) {
	        e.preventDefault();
	        return false;
	    }
	});
});

</script>