<style type="text/css">
label {
	font-size: 15px;
	font-weight: normal;
}
input:readonly,
input:-moz-read-only {
	background-color: #F5F9FA;
}
.input-group-text {
	background: #BBC8D6;
    color: #F2F7FA;
}
input.form-control {
	border-color: #BBC8D6;
}
td {
	border: none !important;
}
.btn-fit {
	width: 80px;
	font-size: 1em;
}
.row-selected.original_payment {
	background: #ebffe5;
}
</style>
<form id="form-payment">
<div class="row">
	<!-- total amount and payment list -->
	<div class="col-4">
		<h4>
			<?=$_lang['order_total']?>: 
			<span id="amount_span" class="float-right"><?=format_money($order->amount, 1)?></span>
		</h4>
		<!-- paymnt list -->
		<div style="border: 1px solid #bbb; height: 250px; overflow-y: auto; position: relative;">
			<table class="table table-condensed" id="payment_list" style="border: none; max-height: 90%">
				<tbody>
					<?php if ($payments):?>
					<?php foreach ($payments as $payment):?>
					<tr 
						onclick="checkPaymentRow(this)" 
						class="payment_row original_payment" 
						id="payment_row_<?=$payment['id']?>"
					>
						<td>
							<?=$payment['payment_method_name']?>
						</td>
						<td class="text-right">
							<?=format_money($payment['amount_paid'], 0)?>
							<input type="hidden" class="payment-row-amount original_payment" value="<?=$payment['amount_paid']?>">
						</td>
					</tr>
					<?php endforeach?>
					<?php endif?>
				</tbody>
			</table>

			<!-- remove paymnt button -->
			<div style="position: absolute; bottom: 10px;left: 10px; width: 100%; display: block; height: 30px;">
				<button type="button" onclick="removePaymentRow();" class="btn btn-danger">
					<i class="fas fa-minus"></i>
				</button>
			</div>

			<!-- custom amount form -->
			<span id="set_amount_div" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0,0,0, 0.6); padding: 10px; text-align: center;" class="hide">
				<input type="text" id="set_amount_value" class="form-control" style="width: 50%; display: inline-block; border: 1px solid #000;"><br>
				<button type="button" class="btn btn-primary" onclick="addCustomPayment();"><?=$_lang['submit']?></button>
				<button type="button" class="btn btn-primary danger" onclick="hideCustomAmount();"><?=$_lang['cancel']?></button>
			</span>
		</div>
		<h4 style="margin-top: 10px;"><?=$_lang['amount_outstanding']?>: <span id="amount_outstanding_span" class="float-right"><?=format_money($order->amount_outstanding, 1)?></span></h4>
	</div>
	<div class="col-8">
		<h4><?=$_lang['pay_with']?>:</h4>

		<div class="row">
			<div class="col-12">
				<h5 style="border-bottom: 1px solid #bbb;"><?=$_lang['bills']?></h5>
				<?php foreach ($bills as $key => $bill):?>
				<button type="button" class="btn-fav btn-fit" onclick="addPaymentRow('1', '<?=$_lang['money']?>', '<?=$bill?>')"><?=$bill?></button>
				<?php endforeach?>
			</div>

			<div class="col-6">
				<h5 style="border-bottom: 1px solid #bbb;"><?=$_lang['money']?></h5>
				<button type="button" class="btn-fav btn-fit amount_outstanding_button" onclick="addPaymentRow('1', '<?=$_lang['money']?>', '<?=$order->amount_outstanding?>')">
					<?=number_format($order->amount_outstanding, 2, ',', '.')?>
				</button>
				<button type="button" class="btn-fav btn-fit" onclick="showCustomAmount('1', '<?=$_lang['money']?>')">
					<?=$_lang['set_amount']?>
				</button>
			</div>

			<!-- other options -->
			<div class="col-6">
				<h5 style="border-bottom: 1px solid #bbb;"><?=$_lang['card']?></h5>
				<button type="button" class="btn-fav btn-fit amount_outstanding_button" onclick="addPaymentRow('2', '<?=$_lang['card']?>', '<?=$order->amount_outstanding?>')">
					<?=number_format($order->amount_outstanding, 2, ',', '.')?>
				</button>
				<button type="button" class="btn-fav btn-fit" onclick="showCustomAmount('2', '<?=$_lang['card']?>')"><?=$_lang['set_amount']?></button>
			</div>
			<div class="col-6">
				<h5 style="border-bottom: 1px solid #bbb;"><?=$_lang['other']?></h5>
				<button type="button" class="btn-fav btn-fit" onclick="showCustomAmount('2000', '<?=$_lang['credit_order']?>')"><?=$_lang['credit_order']?></button>
				<button type="button" class="btn-fav btn-fit" onclick="showCustomAmount('1000', '<?=$_lang['gift_card']?>')"><?=$_lang['gift_card']?></button>
			</div>
		</div>
	</div>
	
	<?php if ($order->amount_outstanding > 0):?>
	<div class="col-md-12 col-sm-12" style="margin-top: 10px; text-align: center;">
		<hr>
		<button type="button" class="btn btn-test" style="width: 50%;" onclick="registerPayment();">EFETUAR PAGAMENTO</button>
	</div>
	<?php endif?>

	<input type="hidden" id="amount" value="<?=$order->amount?>">
	<input type="hidden" id="amount_outstanding" value="<?=$order->amount_outstanding?>">
</div>
</form>

<script type="text/javascript">
var current_payment_row = false;
var custom_payment_method_id = 0;
var custom_payment_method_name = '';

/*
 * Select a payment row
 */
function checkPaymentRow(dis) {
    current_payment_row = $(dis).attr('id');

    $('.payment_row').removeClass('row-selected');
    $('#'+current_payment_row).addClass('row-selected');
}

/*
 * Insert a new payment row
 */
function addPaymentRow(payment_method_id, payment_method_name, amount) {
	// search for existing money payments
	if ((payment_method_id == '1') && 
		(typeof $("tr[data-payment_method_id='1']")[0] != 'undefined')) {

		// get row
		var row = $("tr[data-payment_method_id='1']");
		// get input
		var input_amount = row.find('input[class=payment-row-amount]');
		// get cell
		var cell_amount = row.find('td:last-child');

		// calculate new amount
		current_amount = parseFloat(input_amount.val());
		new_amount = current_amount + parseFloat(amount);

		// replace values
		input_amount.val(new_amount);
		cell_amount.html(new_amount.formatMoney(2));
	}
	else {
		var row_id = 'payment_row_' + Math.floor(Math.random() * 100000);
		var row = $('<tr></tr>').attr({
			'id': row_id,
			'onclick': 'checkPaymentRow(this)',
			'class': 'payment_row',
			'data-payment_method_id': payment_method_id// used to group money payments
		});
		var col1 = $('<td></td>').html(payment_method_name);
		var col2 = $('<td></td>').html(parseFloat(amount).formatMoney(2)).addClass('text-right');
		var input_amount = $('<input>').attr({
			'type': 'hidden',
			'value': amount,
			'class': 'payment-row-amount',
			'name': 'amount[]'
		});

		var input_payment_method = $('<input>').attr({
			'type': 'hidden',
			'value': payment_method_id,
			'name': 'payment_method[]'
		});

		col1.append(input_amount);
		col1.append(input_payment_method);

		row.append(col1);
		row.append(col2);

		// apend row to the table
		$('#payment_list > tbody').append(row);
	}

	updatePaymentTotal();
}

/*
 * Remove a new payment row
 */
function removePaymentRow() {
	if (!current_payment_row || $('#' + current_payment_row).hasClass('original_payment')) {
		return false;
	}
	$('#' + current_payment_row).remove();
	updatePaymentTotal();
}

/*
 * Display custom amount form
 */
function showCustomAmount(payment_method_id, payment_method_name) {
	$('#set_amount_div').removeClass('hide');


	if (payment_method_id != '1') {
		$('#set_amount_value').val($('#amount_outstanding').val());
	}

	$('#set_amount_value').focus();

	custom_payment_method_id = payment_method_id;
	custom_payment_method_name = payment_method_name;
}

/*
 * Remove a new payment row
 */
function hideCustomAmount() {
	$('#set_amount_div').addClass('hide');
}

/*
 * Add a payment row based on custom parameters
 */
function addCustomPayment() {
	amount = parseFloat($('#set_amount_value').val());
	payment_method_id = custom_payment_method_id;
	payment_method_name = custom_payment_method_name;

	addPaymentRow(payment_method_id, payment_method_name, amount);

	hideCustomAmount();
}

function calculateTotalPayments() {
	var amount = 0;
	$('.payment-row-amount').each(function(index){
		amount += parseFloat($(this).val());
	});
	return amount;
}

/*
 * Calculate total amounts for the orders based on current payment rows
 */
function updatePaymentTotal() {
	var amount_paid = calculateTotalPayments();
	var amount = parseFloat($('#amount').val());
	var amount_outstanding = parseFloat($('#amount_outstanding').val());

	amount_outstanding = amount - amount_paid;

	$('#amount_outstanding_span').text('<?=$meta['currency']?> ' + amount_outstanding.formatMoney(2));

	// finish payment automatically
	if (amount_outstanding == 0) {
		registerPayment();
	}
}

/*
 * Saves the payments into the database
 */
function registerPayment() {
	// verify if any new payments were made
	if (!$('.payment_row:not(.original_payment)')[0]) {
		$.alert({
            type: 'red',
            title: '<?=$_lang['error']?>',
            content: '<?=$_lang['no_payments']?>',
            theme: 'light'
        });
        return false;
	}

	var modal = $('#generic-modal');
	modal.find(".modal-content").loading();

	var form_data = $('#form-payment').serializeArray();
	var url = wwwroot+'/terminal_async/registerPayment';
	var posting = $.post(url, form_data);

	posting.done(function(data){
		console.log(data);
		modal.find(".modal-content").loading('stop');
		updateTotal();

		if (data.items.amount_outstanding <= 0) {
			printOrder();
			window.setTimeout(function(){
				window.location = '?clear=true';
			}, 1500);
			return;
		}
		closeGenericModal();
		startPayment();
	}).fail(function(a, b, c){
		console.log(a, b, c);
	});

}


$(function(){
	$('.select2').select2();
	$('.money').mask("#.##0,00", {reverse: true});
	$('#payment-method').change(function(){
		if ($(this).val() == '1') {
			$('#change-container').show();
		}
		else {
			$('#change-container').hide();
		}
	});

	// $('#amount-to-pay').keyup(calculateChange);

	// normalize btn-fav height
	$('.btn-fit').each(function(index){
		$(this).height($(this).width());
	});
	$('.btn-fit').fitText(0.4);

	<?php if (@$meta['virtual_keyboard'] == '1'):?>
	$('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
        },
    });

    $('#set_amount_value').keyboard({
        layout: 'num'
    }).bind('accepted', function(e, keyboard, el){
    	addCustomPayment();
    }).bind('canceled', function(e, keyboard, el){
    	hideCustomAmount();
    });
	<?php endif?>
});
</script>