<?php
foreach ($products as $product):?>
<tr onclick="selectProduct('<?=$product['id']?>', '<?=$product['size_color_id']?>', 1, false, '<?=$product['type_product']?>');">
	<td><?=$product['name']?></td>
	<td><?=$product['color_name']?></td>
	<td><?=$product['size_name']?></td>
	<td><?=format_money($product['price'])?></td>
	<td></td>
</tr>
<?php endforeach?>