<div class="row">
	<div class="col-md-6 col-sm-12">
		<div class="input-group mb-3">
			<input type="text" class="form-control open-keyboard" id="description" onkeyup="if (event.keyCode == 13) searchOrdersByDescription();" placeholder="<?=$_lang['description']?>">
			<div class="input-group-append">
				<button class="btn btn-outline-secondary" type="button" id="button-addon2" onclick="searchOrdersByDescription()">Go</button>
			</div>
		</div>
	</div>
</div>

<table class="table table-bordered" id="parked_output">
	<thead>
		<tr>
			<th><?=$_lang['id']?></th>
			<th><?=$_lang['description']?></th>
			<th><?=$_lang['date']?></th>
			<th><?=$_lang['price']?></th>
		</tr>
	</thead>
	<tbody>
	<?php
	if ($orders):
		foreach ($orders as $order):
	?>
		<tr style="cursor: pointer;" onclick="window.location = '<?=WWWROOT?>/terminal/index?order_id=<?=$order['id']?>'">
			<td><?=$order['id']?></td>
			<td><?=$order['extra_info']?></td>
			<td><?=format_date($order['date_create'], 'd/m/Y')?></td>
			<td><?=format_money($order['amount'])?></td>
		</tr>
	<?php
		endforeach;
	endif;
	?>
	</tbody>
</table>

<script type="text/javascript">
function searchOrdersByDescription() {
	var description = $('#description').val();
	if (description == '') {
		$.alert('Please inform a description');
		return;
	}

	$('#generic_modal').find(".modal-content").loading();

	var container = $('#parked_output tbody');
	container.html('');

	var url = wwwroot + '/terminal_async/searchParkedOrder';
	var params = {
		description: description
	};

	var posting = $.post(url, params);

	posting.done(function(data){
		$('#generic_modal').find(".modal-content").loading('stop');
		console.log(data);
		if (data.status.code == 200) {
			if (data.items) {
				for (i in data.items) {
					price = parseFloat(data.items[i].amount).formatMoney();
					date = moment(data.items[i].date_create).format('DD/MM/YYYY');
					row = '<tr style="cursor: pointer;" onclick="window.location = \''+wwwroot+'/terminal/index?order_id='+data.items[i].id+'\'">';
					row += '<td>'+data.items[i].id+'</td>';
					row += '<td>'+data.items[i].extra_info+'</td>';
					row += '<td>'+date+'</td>';
					row += '<td>'+price+'</td>';
					row += '</tr>';
					container.append(row);
				}
			}
			else {
				container.html('<tr><td colspan="4">No results</td></tr>');
			}
		}
	}).fail(function(a, b, c){
		$('#generic_modal').find(".modal-content").loading();
		console.log(a, b, c);
	});

}

$(function(){
	$('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
            at2: 'center center' // used when "usePreview" is false
        }
    });
});
</script>