<div class="row justify-content-between">
	<div class="col-md-6">
		<a href="#" onclick="openGenericModal('client-add');" class="btn btn-primary">Cadastrar Cliente</a>
	</div>
	<div class="col-md-3">
		<input type="text" class="form-control open-keyboard" placeholder="Buscar" name="" id="async_client_search">
	</div>
</div>
<table class="table table-bordered table-hover" id="clients_table" style="margin-top: 8px;">
	<thead>
		<tr>
			<th>Nome</th>
			<th>CPF</th>
			<th>Telefone</th>
		</tr>
	</thead>
	<tbody></tbody>
</table>

<script type="text/javascript">
function searchClients() {
	$("#clients_table").loading();
	$.ajax({
		url: wwwroot+'/terminal_async/searchClients',
		data: {
			q: $('#async_client_search').val()
		},
		dataType: 'JSON',
		success: function(data) {
			$("#clients_table").loading('stop');
			console.log(data);
			container = $('#clients_table tbody');
			container.html('');
			items = data.items;
			if (items.length > 0) {
				for (i in items) {
					row = '<tr class="tr-hover" onclick="chooseClient(\''+items[i][0]+'\', \''+items[i][1]+'\');">';
					row += '<td>'+items[i][1]+'</td>';
					row += '<td>'+items[i][2]+'</td>';
					row += '<td>'+items[i][3]+'</td>';
					row += '</tr>';
					container.append(row);
				}
			}
			else {
				container.html('<tr><td colspan="3"><em>Sem resultados</em></td></tr>');
			}
		},
		error: function(a, b, c) {
			console.log(a, b, c);
		}
	});
}

$(function(){
	searchClients();

	$('#async_client_search').on('keyup', function(event){
		clearTimeout($.data(this, 'timer'));
		var wait = setTimeout(searchClients, 500);
		$(this).data('timer', wait);
	});

	$('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
            at2: 'center center' // used when "usePreview" is false
        },
        change: function(event, keyboard, el) {
			$('#async_client_search').val(keyboard.$preview.val()).trigger('keyup');
		},
    });
});
</script>