<?php 
if ($product && !$reload_order):
	// _dump($product);
	$product_name = $product->name;
	$row_id = 'product_row_' . $order_line_id;// $product->id;
	if ($product->size_color_id) {
		$row_id .= '_' . $product->size_color_id;
	}
	if ($product->color_name) {
		$product_name .= ' ' . $product->color_name;
	}
	if ($product->size_name) {
		$product_name .= ' ' . $product->size_name;
	}

	$mva_value = 0;
	// if orderline is being updated
	if (isset($product->tax)) {
		$mva_value = $product->tax;
	}
	// if product is just being added nad has tax group
	else if ($product->mva) {
		$mva_value = $product->actual_value * ($product->mva/100);
	}
?>
<tr onclick="checkProductRow(this)" id="<?=$row_id?>" data-orderlineid="<?=$order_line_id?>" data-type_product="<?=$product->type_product?>" class="product_row">
	<td>
		<input type="hidden" class="row-input tax" value="<?=$product->mva?>">
		<input type="hidden" class="row-input tax_total" value="<?=$mva_value?>">
		<?=$product->id?></td>
	<td><?=$product_name?></td>
	<td class="row-double-click text-right row-qty blend">
		<input type="text" data-type="qty" class="row-input qty open-keyboard-num" value="<?=$product->qty?>">
	</td>
	<td class="row-double-click text-right row-unit_price blend">
		<input type="text" data-type="unit_price" class="row-input unit_price open-keyboard-num" value="<?=number_format($product->value, 2, ',', '')?>">
	</td>
	<td class="row-double-click text-right row-discount blend">
		<input type="text" data-type="discount" class="row-input discount open-keyboard-num" value="<?=number_format($product->discount, 2, ',', '')?>">
	</td>
	<td class="text-right">
		<input type="hidden" class="row-input total_price" value="<?=$product->actual_value?>">
		<span class="row-span total_price"><?=format_money($product->actual_value, 'R$ ')?></span>
	</td>
	<td><?=shortPrint($order_line->extra_info, 40)?></td>
</tr>
<?php endif?>

<script type="text/javascript">
$(function(){
	<?php if ($reload_order):?>
    initOrder();
    <?php endif?>

    initJS(true);

	$(window).click(function() {
		// avoid
		var e = $.Event( "keydown", { keyCode: 27 } );
        $('.qty, .unit_price, .discount').trigger(e);
	});

	$('.row-input').keydown(function(event){
		var row = $('#' + current_product_row);
		if (event.keyCode == 13) {
			updateProductLine($(this).attr('data-type'), row, $(this).val());
		}
	});

    // $('.row-double-click').on('dblclick', function(event){
    // 	event.stopPropagation();
    // 	if ($(this).hasClass('row-qty')) {
    // 		keypadFunction('qty');
    // 	}
    // 	else if ($(this).hasClass('row-unit_price')) {
    // 		keypadFunction('unit_price');
    // 	}
    // 	else if ($(this).hasClass('row-discount')) {
    // 		keypadFunction('discount');
    // 	}
    // });
});
</script>