<?php 
if ($product && !$reload_order):
	// _dump($product);
	$product_name = $product->name;
	$row_id = 'product_row_' . $order_line_id;// $product->id;
	if ($product->size_color_id) {
		$row_id .= '_' . $product->size_color_id;
	}
	if ($product->color_name) {
		$product_name .= ' ' . $product->color_name;
	}
	if ($product->size_name) {
		$product_name .= ' ' . $product->size_name;
	}

	$mva_value = 0;
	// if orderline is being updated
	if (isset($product->tax)) {
		$mva_value = $product->tax;
	}
	// if product is just being added nad has tax group
	else if ($product->mva) {
		$mva_value = $product->actual_value * ($product->mva/100);
	}
?>
<tr onclick="checkProductRow(this)" id="<?=$row_id?>" data-orderlineid="<?=$order_line_id?>" data-type_product="<?=$product->type_product?>" class="product_row">
	<td>
		<input type="hidden" class="row-input tax" value="<?=$product->mva?>">
		<input type="hidden" class="row-input tax_total" value="<?=$mva_value?>">
		<?=$product->id?></td>
	<td><?=$product_name?></td>
	<td class="row-double-click text-right row-qty">
		<input type="text" class="row-input qty open-keyboard-num" style="display: none;" value="<?=$product->qty?>">
		<span class="row-span qty"><?=$product->qty?></span>
	</td>
	<td class="row-double-click text-right row-unit_price">
		<input type="text" class="row-input unit_price open-keyboard-num" style="display: none;" value="<?=$product->value?>">
		<span class="row-span unit_price"><?=format_money($product->value, 'R$ ')?></span>
	</td>
	<td class="row-double-click text-right row-discount">
		<input type="text" class="row-input discount open-keyboard-num" style="display: none;" value="<?=$product->discount?>">
		<span class="row-span discount"><?=format_money(@$product->discount, 'R$ ')?></span>
	</td>
	<td class="text-right">
		<input type="hidden" class="row-input total_price" value="<?=$product->actual_value?>">
		<span class="row-span total_price"><?=format_money($product->actual_value, 'R$ ')?></span>
	</td>
	<td><?=shortPrint($order_line->extra_info, 40)?></td>
</tr>
<?php endif?>

<script type="text/javascript">
$(function(){
	$(window).click(function() {
		// avoid 
		var e = $.Event( "keydown", { keyCode: 27 } );
        $('.qty, .unit_price, .discount').trigger(e);
	});

	// $('.row-input').mask("#.##0,00", {reverse: true})
    $('.row-input').keydown(function(event){
        if (event.keyCode == 27) {
            $('.row-input').hide();
            $('.row-span').show();
        }
    });

    $('.row-double-click').on('dblclick', function(event){
    	event.stopPropagation();
    	if ($(this).hasClass('row-qty')) {
    		keypadFunction('qty');
    	}
    	else if ($(this).hasClass('row-unit_price')) {
    		keypadFunction('unit_price');
    	}
    	else if ($(this).hasClass('row-discount')) {
    		keypadFunction('discount');
    	}
    });
    <?php if ($reload_order):?>
    initOrder();
    <?php endif?>
    $('.open-keyboard').keyboard({
        position: {
            of: $(window), // null = attach to input/textarea; use $(sel) to attach elsewhere
            my: 'center bottom',
            at: 'center bottom',
        },
    });

    $('.open-keyboard-num').keyboard({
        layout: 'num'
    }).bind('accepted', function(e, keyboard, el){
    	var e = $.Event( "keydown", { keyCode: 13 } );
        $(this).trigger(e);
    });
});
</script>