.flot {
    left: 0px;
    top: 0px;
    width: 610px;
    height: 250px;
}
#flotTip {
    padding: 3px 5px;
    background-color: #000;
    z-index: 100;
    color: #fff;
    opacity: .80;
    filter: alpha(opacity=85);
}
.pieLabel div {
    color: white !important;
    text-shadow: 0 0 4px #000;
}
/*.btn {
    font-size: 12px;
}
.btn p {
    padding: 0px;
    margin: 0px;
}*/
.modal-backdrop {
    opacity:0.5 !important;
}
.nav-tabs a{
    color:#333 !important;
}
.billet_line{
    padding-top: 5px;
}
.pos_element{
    position: absolute;
}
/*.pos_table table, th, td {
    border: 1px solid gray;
}
.pos_table{
    margin-top:5px !important;
}*/

#choose_customer{
    display: none;
}
#pay_order{
    display: none;
}
.btn-store {
    margin: 5px;
    padding: 15px;
}
.others_btn {
    margin-top: 30px
}

/*.insert_barcode{
    height: 40px;
    margin-top:25px;
}*/

.edit_qty, .edit_price, .edit_discount, .edit_final_price, .edit_info{
    display: none;
}

.edit_product_line_attribute{
    width: 60px;
}

.dropHere {
    max-width: 100%;   
}
/* cicero */
.modal-title {
    padding: 0;
}

tr.row-selected {
    background: #c3d9ff;
}

input.row-input {
    width: 70px;
    border: 1px solid #aaa;
    padding: 2px 4px;
}

ul.full-width, ul.full-width li {
    padding: 0;
    margin: 0;
    list-style: none;
}
ul.full-width li {
    display: block;
    width: 100%;
}
ul.full-width li a {
    display: block;
    padding: 12px 8px;
    border: 1px solid #ccc;
    border-top: none;
    text-decoration: none;
    font-size: 14px;
    color: #555;
}
ul.full-width li:first-child a {
    border-top: 1px solid #ccc;
}
ul.full-width li a:hover {
    background-color: #3c8dde;
    background-image: linear-gradient(#599bdc, #3072b3);
    color: #fff;
}

tr.tr-hover {
    cursor: pointer;
}

.row-input {
    text-align: right;
}
.row-input.qty {
    width: 50px !important;
}
.row-input.unit_price {
    width: 100px !important;
}
.row-input.discount {
    width: 80px !important;
}