<form id="form-update-department">
	<div class="row">
		<div class="col">
			<label><?=$_lang['name']?>:</label>
			<input type="text" class="form-control" name="name" value="<?=$department->name?>" onkeydown="preventSubmit(event)">
		</div>
	</div>
</form>

<script type="text/javascript">
function preventSubmit(e) {
	if (e.keyCode == 13) {
		doUpdateProduct(e, '<?=$department->id?>');
		e.preventDefault();
		return false;
	}
	
}
</script>