<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
	<style type="text/css">
	.btn-system {
		background: rgb(2,0,36);
		background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(59,151,51,1) 0%, rgba(72,179,67,1) 69%, rgba(87,211,87,1) 100%);
		color: #fff;
		font-size: 13px;
		width: 100px;
	}
	.btn-system:hover {
		color: #fff;
	}
	.btn-system:active {
		background: rgba(87,211,87,1);
		color: #fff;
	}
	</style>
</head>
<body>
	<div class="loader"></div>

	<?php get_template('topbar')?>
	<?php get_template('sidebar')?>

	<div id="content-wrapper">
	    <div class="container-fluid" style="">
	        <?php get_template('entry_topbar')?>
	        <div class="row">
	            <div class="col-md-12">
	                <div class="card" style="height: 78vh; margin-bottom: 8px;">
						<div class="card-header">
							<?php get_template('products_topbar')?>
						</div>
						<div class="card-body no-padding" style="overflow-y: auto;">
							<table class="table table-striped table-bordered">
								<thead class="thead-light">
									<tr>
										<th>&nbsp;</th>
										<th>Nome</th>
										<th>ArticleNo</th>
										<th>Preço de Compra</th>
										<th>Preço de Venda</th>
										<th>SKU</th>
										<th>Atualizado</th>
									</tr>
								</thead>
								<tbody>
									<?php if ($products[0]):?>
									<?php foreach ($products[0] as $product):?>
									<tr onclick="toggleRow(this)" class="">
										<td><input type="checkbox" class="row_check" value="<?=$product['id']?>"></td>
										<td><?=$product['name']?></td>
										<td><?=$product['product_number']?></td>
										<td class="text-right"><?=format_money($product['price_purchase'])?></td>
										<td class="text-right"><?=format_money($product['price'])?></td>
										<td><?=$product['sku']?></td>
										<td><?=format_date($product['date_create'], 'd/m/Y')?></td>
									</tr>
									<?php endforeach;?>
									<?php else:?>
									<tr>
										<td colspan="7"><?=$_lang['no_results']?></td>
									</tr>
									<?php endif?>
								</tbody>
							</table>
						</div><!-- /.card-body -->
						<div class="card-footer">
							<div class="row">
								<div class="col-md-6">
									<?php //get_pagination($products[1], $_GET['page'], $pace);?>
								</div>
								<div class="col-md-6 text-right">
									<button type="button" class="btn btn-info" onclick="window.location = '<?=WWWROOT?>/products/add'"><?=$_lang['register']?></button>
									<button class="btn btn-primary" onclick="searchProducts();"><?=$_lang['search']?></button>
									<button class="btn btn-system" onclick="updateProduct();"><?=$_lang['update']?></button>
								</div>
							</div>
							
						</div>
					</div>
					
	            </div>
	        </div>
	    </div><!-- /.container -->
	</div>

	<div class="modal" tabindex="-1" role="dialog" id="search-modal" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h3 class="modal-title"><?=$_lang['search_products']?></h3>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body">
	            	<form id="search-form" action="" method="get">
	            	<div class="row">
	            		<div class="col-6">
	            			<label><?=$_lang['search_for']?>:</label>
	            			<select class="select2 form-control" style="width: 100%;" name="search_by">
	            				<option value="name"><?=$_lang['name']?></option>
	            				<option value="product_number"><?=$_lang['article_number']?></option>
	            			</select>
	            		</div>
	            		<div class="col-6">
	            			<label><?=$_lang['amount']?>:</label>
	            			<input type="text" class="form-control open-keyboard" name="value" value="<?=@$_GET['value']?>">
	            		</div>
	            	</div>
	            	</form>
	            </div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger" data-dismiss="modal"><?=$_lang['cancel']?></button>
	                <button type="button" class="btn btn-success" id="btn-submit"><?=$_lang['search']?></button>
	            </div>
	        </div>
	    </div>
	</div>

	<?php get_template('scripts')?>

	<script type="text/javascript">
	function toggleRow(tr) {
		var checkbox = $(tr).find("input[type=checkbox]");
		var checked = checkbox.prop('checked');

		console.log(checkbox.prop('checked'));

		$('.row_check').prop('checked', false);
		checkbox.prop('checked', !checkbox.prop('checked'));
	}

	function updateProduct() {
		var value = $('input[type=checkbox]:checked').val();
		if (!value) {
			return false;
		}
		window.location = wwwroot + '/products/update/'+value;
	}

	function searchProducts() {
		$('#search-modal').modal('show');

		$('#btn-submit').click(function(){
			var data = $('#search-form').submit();
		});
	}

	$(function(){
		
	});


	</script>

</body>
</html>