<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head', ['title'=>$_lang['product']])?>
	<style type="text/css">
	label {
		border-bottom: 1px solid #bbb;
		display: block;
		padding-bottom: 4px;
	}
	h4 {
		margin-bottom: 16px;
	}
	.hide {
		display: none;
	}
	</style>
</head>
<body>
	<!-- <div class="loader"></div> -->

	<?php get_template('topbar')?>
	<?php get_template('sidebar')?>

	<div id="content-wrapper">
	    <div class="container-fluid" style="">
	        <?php get_template('entry_topbar')?>
	        <div class="row">
	            <div class="col-md-12">
	            	<form method="post" action="" id="product-add-form">
	                <div class="card" style="height: 78vh; margin-bottom: 8px;">
						<div class="card-header">
							<?php get_template('products_topbar')?>
						</div><!-- /.card-header -->
						<div class="card-body" style="overflow-y: auto;">
							<div class="row">
								<div class="col-md-2">
									<label><?=$_lang['product_id']?>:</label>
									<input type="text" class="form-control" name="product[id]" id="product_id" value="<?=$product->id?>" readonly>
								</div>
								<div class="col-md-2">
									<label><?=$_lang['product_number']?>:</label>
									<input type="text" class="form-control" name="product[product_number]" value="<?=$product->product_number?>">
								</div>
								<div class="col-md-2">
									<label><?=$_lang['barcode']?>:</label>
									<input type="text" class="form-control" name="product[barcode]" value="<?=$product->barcode?>">
								</div>
								<div class="col-md-4">
									<label><?=$_lang['name']?>:</label>
									<input type="text" class="form-control" name="product[name]" value="<?=$product->name?>">
								</div>
								<div class="col-md-2">
									<label><?=$_lang['type']?>:</label>
									<?php
									$types = [
										1 => $_lang['product'],
										2 => $_lang['voucher'],
										3 => $_lang['gift_card']
									];
									?>
									<select class="select2 form-control" name="product[type_product]">
										<?php foreach ($types as $key=>$type):
											$sel = $product->type_product == $key ? ' selected' : '';
										?>
										<option value="<?=$key?>"<?=$sel?>><?=$type?></option>
										<?php endforeach?>
									</select>
									<!-- <input type="text" class="form-control" name="product[type_product]" value="<?=$product->name?>"> -->
								</div>
							</div><!-- /.row -->
							<div class="row" style="margin-top: 25px;">
								<div class="col-md-2">
									<h4><?=$_lang['sale_price']?></h4>
									<label><?=$_lang['price_with_tax']?>:</label>
									<input type="text" class="form-control open-keyboard-num" name="product[price]" value="<?=format_money($product->price, '')?>">
									<label>Valor sem Impostos:</label>
									<input type="text" class="form-control open-keyboard-num" name="product[price_without_tax]" value="<?=format_money($product->price_without_tax, '')?>">
								</div>
								<div class="col-md-2">
									<h4><?=$_lang['purchase_price']?></h4>
									<label><?=$_lang['purchase_amount']?>:</label>
									<input type="text" class="form-control open-keyboard-num" name="product[currency_purchase_price]" value="<?=format_money($product->currency_purchase_price, '')?>">
									<label><?=$_lang['shipping_price']?>:</label>
									<input type="text" class="form-control open-keyboard-num" name="product[shipping_price]" value="<?=format_money($product->shipping_price, '')?>">
								</div>
								<div class="col-md-2">
									<h4><?=$_lang['profit']?></h4>
									<label><?=$_lang['gross_profit']?>:</label>
									<input type="text" class="form-control open-keyboard-num" name="product[profit_gross_profit_value]" value="<?=format_money($product->profit_gross_profit_value, '')?>">
									<label><?=$_lang['percent_profit']?>:</label>
									<input type="text" class="form-control open-keyboard-num" name="product[]" value="">
								</div>
								<div class="col-md-6">
									<h4><?=$_lang['promo_price']?> <button type="button" class="btn btn-sm btn-system" onclick="addPromotionalPrice();">Novo</button></h4>
									<table class="table table-bordered table-striped" id="table-promotion">
										<thead>
											<tr>
												<th><?=$_lang['gross_price']?></th>
												<th><?=$_lang['price_without_tax']?></th>
												<th><?=$_lang['start_date']?></th>
												<th><?=$_lang['end_date']?></th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
							</div><!-- /.row -->
							<div class="row" style="margin-top: 25px;">
								<div class="col-4">
									<h4><?=$_lang['product_groups']?> <button type="button" class="btn btn-sm btn-system" onclick="addProductGroup();"><?=$_lang['new']?></button></h4>
									<table class="table table-bordered table-striped" id="table-product-groups">
										<thead>
											<tr>
												<th><?=$_lang['name']?></th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
								<div class="col-6">
									<h4><?=$_lang['product_image']?> <button type="button" class="btn btn-sm btn-system" onclick="addImage();">Novo</button></h4>
									<table class="table table-bordered table-striped" id="table-images">
										<thead>
											<tr>
												<th><?=$_lang['image']?></th>
												<th><?=$_lang['main']?></th>
												<th>&nbsp;</th>
											</tr>
										</thead>
										<tbody></tbody>
									</table>
								</div>
								<div class="col-2">
									<label><?=$_lang['tax_group']?>:</label>
									<select class="select2 form-control" name="product[tax_id]">
										<option></option>
										<?php if ($taxes):?>
										<?php foreach ($taxes as $tax):
											$sel = $tax['id'] == $product->tax_id ? ' selected' : '';
										?>
										<option value="<?=$tax['id']?>"<?=$sel?>><?=$tax['name']?></option>
										<?php endforeach?>
										<?php endif?>
									</select>
								</div>
							</div><!-- /.row -->

							<!-- product extra attributes -->
							<div class="row" style="margin-top: 25px;background: #F8F8F8; padding-top: 10px; padding-bottom: 10px;">
								<div class="col-md-12">
									<ul class="menu-bar" id="menu-links" style="margin-bottom: 20px;">
										<li class="active">
											<a href="#prices"><?=$_lang['prices']?></a>
										</li>
										<li>
											<a href="#extras"><?=$_lang['extra']?></a>
										</li>
										<li>
											<a href="#components"><?=$_lang['components']?></a>
										</li>
										<li>
											<a href="#size_color"><?=$_lang['size_color']?></a>
										</li>
										<!-- <li>
											<a href="#alternatives" style="color: #f22;">Alternativas</a>
										</li> -->
										
										<!-- <li>
											<a href="#additional">Adicionais</a>
										</li>
										<li>
											<a href="#purchases_requests">Pedidos de Compra</a>
										</li>
										<li>
											<a href="#purchases">Aquisição</a>
										</li>
										<li>
											<a href="#webshop">Webshop</a>
										</li> -->
									</ul>
								</div>
								<div class="col-md-12 menu-tab" id="prices">
									<div class="row">
										<div class="col-md-2">
											<h4><?=$_lang['recommended_price']?></h4>
											<label><?=$_lang['price_for_gross_sale']?>:</label>
											<input type="text" class="form-control open-keyboard-num" name="product[value_for_sell_brute]" value="<?=format_money($product->value_for_sell_brute, '')?>">
											<label><?=$_lang['price_for_net_sale']?>:</label>
											<input type="text" class="form-control open-keyboard-num" name="product[value_for_sell_liquid]" value="<?=format_money($product->value_for_sell_liquid, '')?>">
										</div>
										<div class="col-md-2">
											<h4><?=$_lang['price_from_reseler']?>:</h4>
											<label><?=$_lang['price_gross_limit']?>:</label>
											<input type="text" class="form-control open-keyboard-num" name="product[trade_value_for_sell_brute]" value="<?=format_money($product->trade_value_for_sell_brute, '')?>">
											<label><?=$_lang['price_net_limit']?>:</label>
											<input type="text" class="form-control open-keyboard-num" name="product[trade_value_for_sell_liquid]" value="<?=format_money($product->trade_value_for_sell_liquid, '')?>">
										</div>
										<div class="col-md-2">
											<h4>Takeaway</h4>
											<label><?=$_lang['gross_price_to_go']?>:</label>
											<input type="text" class="form-control open-keyboard-num" name="product[value_for_travel_brute]" value="<?=format_money($product->value_for_travel_brute, '')?>">
											<label><?=$_lang['net_price_to_go']?>:</label>
											<input type="text" class="form-control open-keyboard-num" name="product[value_for_travel_liquid]" value="<?=format_money($product->value_for_travel_liquid, '')?>">
										</div>
										<div class="col-md-6">
											<h4><?=$_lang['wholesale_price']?> <button type="button" class="btn btn-sm btn-system" onclick="addWholesalePrice();"><?=$_lang['new']?></button></h4>
											<table class="table table-bordered table-striped" id="table-wholesale-price">
												<thead>
													<tr>
														<th><?=$_lang['price']?></th>
														<th><?=$_lang['qty']?></th>
														<th><?=$_lang['total']?></th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div><!-- /#prices -->
								<div class="col-md-12 menu-tab hide" id="extras">
									<div class="row">
										<div class="col">
											<label><?=$_lang['collection']?>:</label>
											<select class="select2 form-control" name="product[product_collection_id]">
												<option></option>
												<?php 
												if ($collections):
												foreach ($collections as $collection):
													$sel = $product->product_collection_id == $collection['id'] ? ' selected' : '';
												?>
												<option value="<?=$collection['id']?>"<?=$sel?>><?=$collection['name']?></option>
												<?php
												endforeach;
												endif?>
											</select>
										</div>
										<div class="col">
											<label><?=$_lang['manufacturer']?>:</label>
											<select class="select2 form-control" name="product[manufacturer_id]">
												<option></option>
												<?php 
												if ($manufacturers):
												foreach ($manufacturers as $manufacturer):
													$sel = $product->manufacturer_id == $manufacturer['id'] ? ' selected' : '';
												?>
												<option value="<?=$manufacturer['id']?>"<?=$sel?>><?=$manufacturer['name']?></option>
												<?php
												endforeach;
												endif?>
											</select>
										</div>
										<div class="col">
											<label><?=$_lang['supplier']?>:</label>
											<select class="select2 form-control" name="product[supplier_id]">
												<option></option>
												<?php 
												if ($suppliers):
												foreach ($suppliers as $supplier):
													$sel = $product->supplier_id == $supplier['id'] ? ' selected' : '';
												?>
												<option value="<?=$supplier['id']?>"<?=$sel?>><?=$supplier['company_name']?></option>
												<?php
												endforeach;
												endif?>
											</select>
										</div>
										<div class="col">
											<label style="color: #f22;"><?=$_lang['serial']?>:</label>
											<select class="select2 form-control" name="extras[]">
												<option></option>
											</select>
										</div>
									</div>
									<div class="row">
										<div class="col-3">
											<label><?=$_lang['product_unit']?>:</label>
											<select class="select2 form-control" name="product[unit_id]">
												<option></option>
												<?php 
												if ($units):
												foreach ($units as $unit):
													$sel = $product->unit_id == $unit['id'] ? ' selected' : '';
												?>
												<option value="<?=$unit['id']?>"<?=$sel?>><?=$unit['name']?></option>
												<?php
												endforeach;
												endif?>
											</select>
										</div>
										<div class="col-3">
											<label style="color: #f22;"><?=$_lang['calc_base']?>:</label>
											<select class="select2 form-control" name="product[base_of_calc]">
												<option></option>
												<?php for ($i=0;$i<10;$i++):
													$sel = $product->base_of_calc == $i ? ' selected' : '';
												?>
												<option value="<?=$i?>"<?=$sel?>><?=$i?></option>
												<?php endfor?>
											</select>
										</div>
										<div class="col-2">
											<label><?=$_lang['number_of_series']?>:</label>
											<input type="text" class="form-control" name="product[number_of_serie_from_product]" value="<?=$product->number_of_serie_from_product?>">
										</div>
										<div class="col-2">
											<label><?=$_lang['manufacturer_no']?>:</label>
											<input type="text" class="form-control" name="product[product_number_manufacturer]" value="<?=$product->product_number_manufacturer?>">
										</div>
										<div class="col-2">
											<label><?=$_lang['supplier_no']?>:</label>
											<input type="text" class="form-control" name="product[product_number_supplier]" value="<?=$product->product_number_supplier?>">
										</div>
									</div>
									<div class="row">
										<div class="col-2">
											<label><?=$_lang['product_situation']?>:</label>
											<select class="select2 form-control" name="product[active]">
												<option value="1"<?php if ($product->active == '1') echo ' selected';?>><?=$_lang['active']?></option>
												<option value="0"<?php if ($product->active == '0') echo ' selected';?>><?=$_lang['inactive']?></option>
											</select>
										</div>
										<div class="col-3">
											<label><?=$_lang['department']?>:</label>
											<select class="select2 form-control" name="product[department_id]">
												<option></option>
												<?php 
												if ($departments):
												foreach ($departments as $department):
													$sel = $product->department_id == $department['id'] ? ' selected' : '';
												?>
												<option value="<?=$department['id']?>"<?=$sel?>><?=$department['name']?></option>
												<?php
												endforeach;
												endif?>
											</select>
										</div>
										<div class="col-3">
											<label><?=$_lang['project']?>:</label>
											<select class="select2 form-control" name="product[project_id]">
												<option></option>
												<?php 
												if ($projects):
												foreach ($projects as $project):
													$sel = $product->project_id == $project['id'] ? ' selected' : '';
												?>
												<option value="<?=$project['id']?>"<?=$sel?>><?=$project['name']?></option>
												<?php
												endforeach;
												endif?>
											</select>
										</div>
										<div class="col-2">
											<label style="color: #f22;"><?=$_lang['product_place_saved']?>:</label>
											<input type="text" class="form-control" name="product[]" value="">
										</div>
										<div class="col-2">
											<label><?=$_lang['unit_multiple']?>:</label>
											<input type="text" class="form-control" name="product[multiple_units]" value="<?=$product->multiple_units?>">
										</div>
									</div>
								</div><!-- /#extras -->
								<div class="col-md-12 menu-tab hide" id="components">
									<div class="row">
										<div class="col-8">
											<h4><?=$_lang['components']?> <button type="button" class="btn btn-sm btn-system" onclick="addComponent();"><?=$_lang['new']?></button></h4>
											<table class="table table-bordered table-striped" id="table-components">
												<thead>
													<tr>
														<th><?=$_lang['product_name']?></th>
														<th><?=$_lang['name']?></th>
														<th><?=$_lang['quantity']?></th>
														<th><?=$_lang['cost_price']?></th>
														<th><?=$_lang['sale_price']?></th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
										<div class="col-4">
											<label><input type="checkbox" name="product[has_components]" value="1"<?php if ($product->has_components == '1') echo ' checked';?>> <?=$_lang['joined_product']?></label>
											<label><input type="checkbox" name="product[components_show_order_subitens]" value="1"<?php if ($product->components_show_order_subitens == '1') echo ' checked';?>> <?=$_lang['components_show_order_subitens']?></label>
											<div class="row">
												<div class="col">
													<label style="color: #f22;"><?=$_lang['estimated_total_cost']?></label>
													<input type="text" class="form-control" name="">
												</div>
												<div class="col">
													<label style="color: #f22;"><?=$_lang['price_margin']?></label>
													<input type="text" class="form-control" name="">
												</div>
											</div>
											<div class="row">
												<div class="col">
													<label style="color: #f22;"><?=$_lang['margin_percent']?></label>
													<input type="text" class="form-control" name="">
												</div>
												<div class="col">
													<label style="color: #f22;"><?=$_lang['final_price']?></label>
													<input type="text" class="form-control" name="">
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-md-12 menu-tab hide" id="size_color">
									<div class="row">
										<div class="col-12">
											<h4><?=$_lang['size_colors']?> <button type="button" class="btn btn-sm btn-system" onclick="addSizeColor();">Novo</button></h4>
											<table class="table table-bordered table-striped" id="table-size-color">
												<thead>
													<tr>
														<th><?=$_lang['color']?></th>
														<th><?=$_lang['size']?></th>
														<th><?=$_lang['current_amount']?></th>
														<th><?=$_lang['supplier_no']?></th>
														<th><?=$_lang['price']?></th>
														<th>&nbsp;</th>
													</tr>
												</thead>
												<tbody></tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix" style="padding-bottom: 30px;"></div>
						</div><!-- /.card-body -->
						<div class="card-footer">
							<div class="row">
								<div class="col-md-12 text-right">
									<button type="submit" class="btn btn-primary btn-lg" onclick="$('#product-add-form').submit();"><?=$_lang['submit']?></button>
								</div>
							</div>
						</div><!-- /.card-footer -->
					</div><!-- /.card -->
					</form>
	            </div>
	        </div>
	    </div><!-- /.container -->
	</div>


	<div class="modal" tabindex="-1" role="dialog" id="generic-modal" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h3 class="modal-title"></h3>
	                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	                    <span aria-hidden="true">&times;</span>
	                </button>
	            </div>
	            <div class="modal-body"></div>
	            <div class="modal-footer">
	                <button type="button" class="btn btn-danger" data-dismiss="modal"><?=$_lang['cancel']?></button>
	                <button type="submit" class="btn btn-success"><?=$_lang['submit']?></button>
	            </div>
	        </div>
	    </div>
	</div>

<?php get_template('scripts')?>

<script type="text/javascript" src="<?=WEBROOT?>/pages/products/add.js"></script>

</body>
</html>