/*
EasyStep
Author: @engirocha
Version: 1.0.0
*/


@import url("plugins/bootstrap-4.3/css/bootstrap.min.css");
@import url("plugins/Datatables/datatables.css");
@import url("plugins/PNotify/pnotify.custom.min.css");
@import url("plugins/Swiper/horizon-swiper.min.css");
@import url("plugins/Swiper/horizon-theme.min.css");
@import url("css/lineicons.css");
@import url("plugins/DatePicker/bootstrap-datepicker3.css");
@import url("plugins/PrintJs/print.min.css");
@import url("plugins/jQueryUI/jquery-ui.min.css");
@import url("plugins/jquery-confirm/css/jquery-confirm.css");
@import url("plugins/gritter/css/jquery.gritter.css");

/* Theme EasyStep */
@import url("themes/interface.css");

/* Teclado */
@import url("css/jquery.ml-keyboard.css");

/* tag reservada para tradução do sistema */
.translate {
}

/*tags reservadas para auto-complete de busca de endereço*/
.autocomplete{

}

.street{

	
}
.number{

	
}
.district{

	
}
.city{

	
}
.initials{

	
}
.zip_code{

	
}
.state{

	
}
.country{

	
}
.place{

	
}

.sidebar-wrapper {
	margin-top: 0px;
}

/* new themes */
.no-padding {
	padding: 0;
}
ul.menu-bar {
    padding: 0;
    margin: 0;
}
ul.menu-bar li {
    display: inline-block;
    margin-right: 20px;
}
ul.menu-bar li a {
    text-decoration: none;
    color: #bbb;
}
ul.menu-bar li a:hover,
ul.menu-bar li.active a {
    color: #000;
    font-weight: bold;
}

/* forms */
input[type=text].form-control,
select.form-control,
textarea.form-control,
span.input-group-text {
	font-size: 13px;
	padding: 3px 7px;
}