<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-bottom: 8px;
    }
    </style>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('reports_topbar')?>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['filters']?>
                        </h4>
                        <div class="card-body" style="padding: 10px 20px;">
                            <form action="" method="get">
                                <div class="row">
                                    <div class="col-3">
                                        <label><?=$_lang['period']?>:</label>
                                        <input type="text" class="form-control" name="period" id="period" value="<?=$_GET['period']?>">
                                    </div>
                                    <div class="col-2">
                                        <label style="width: 100%;">&nbsp;</label>
                                        <button type="submit" class="btn btn-primary"><?=$_lang['submit']?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
                <div class="col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['daily_takings']?>
                        </h4>
                        <div class="card-body no-padding">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>&nbsp;</th>
                                        <th><?=$_lang['protocol']?></th>
                                        <th><?=$_lang['closing_date']?></th>
                                        <th><?=$_lang['user']?></th>
                                        <th><?=$_lang['amount_counted']?></th>
                                        <th><?=$_lang['amount_received']?></th>
                                        <th><?=$_lang['amount_credit_cards']?></th>
                                        <th><?=$_lang['difference']?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php
                                if ($report):
                                    foreach ($report as $item):
                                        $diff = (double)$item['amount_counted'] - (double)$item['amount_received'];
                                ?>
                                    <tr>
                                        <td><?=$item['id']?></td>
                                        <td><?=$item['protocol']?></td>
                                        <td><?=format_date($item['date_create'], 'd/m/Y', true)?></td>
                                        <td><?=$item['login']?></td>
                                        <td class="text-right"><?=format_money($item['amount_counted'], 'kr ')?></td>
                                        <td class="text-right"><?=format_money($item['amount_received'], 'kr ')?></td>
                                        <td class="text-right"><?=format_money($item['amount_credit_card'], 'kr ')?></td>
                                        <td class="text-right"><?=format_money($diff, 'kr ')?></td>
                                    </tr>
                                <?php
                                    endforeach;
                                else:?>
                                    <tr>
                                        <td colspan="7"><em><?=$_lang['no_results']?></em></td>
                                    </tr>
                                <?php endif?>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.content-wrapper -->
    <?php get_template('scripts')?>

    <script type="text/javascript">
    function orderDetails(order_id) {
        window.location = wwwroot + '/terminal/show/' + order_id;
    }
    $(function(){
        var start = moment();//.subtract(6, 'days');
        var end = moment();

        $('#period').daterangepicker({
            // startDate: start,
            // endDate: end,
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
            },
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });

        // cb(start, end);

    });
    </script>

</body>
</html>