<!DOCTYPE html>
<html lang="en">
<head>
    <?php get_template('head')?>
    <style type="text/css">
    .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
        margin-bottom: 8px;
    }
    </style>
</head>
<body>
    <div class="loader"></div>
    <?php get_template('topbar')?>
    <?php get_template('sidebar')?>
    <div id="content-wrapper">
        <div class="container-fluid" style="">
            <?php get_template('reports_topbar')?>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['filters']?>
                        </h4>
                        <div class="card-body" style="padding: 10px 20px;">
                            <form action="" method="get">
                                <div class="row">
                                    <div class="col-3">
                                        <label><?=$_lang['period']?>:</label>
                                        <input type="text" class="form-control" name="period" id="period" value="<?=$_GET['period']?>">
                                    </div>
                                    <div class="col-md-2">
                                        <label><?=$_lang['order_type']?>:</label>
                                        <select class="select2" style="width: 100%;" name="order_type">
                                            <option value="-1">-- <?=$_lang['all']?></option>
                                            <?php
                                            if ($order_types):
                                                foreach ($order_types as $key => $value):
                                                    $sel = ($key == @$_GET['order_type']) ? ' selected' : '';
                                            ?>
                                            <option value="<?=$key?>"<?=$sel?>><?=$value?></option>
                                            <?php
                                                endforeach;
                                            endif;
                                            ?>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label><?=$_lang['status']?>:</label>
                                        <select class="select2" style="width: 100%;" name="status">
                                            <option value="-1">-- <?=$_lang['all']?></option>
                                            <?php
                                            if ($order_status):
                                                foreach ($order_status as $key => $value):
                                                    $sel = ($key == @$_GET['status']) ? ' selected' : '';
                                            ?>
                                            <option value="<?=$key?>"<?=$sel?>><?=$value?></option>
                                            <?php
                                                endforeach;
                                            endif;
                                            ?>
                                        </select>
                                    </div>
                                    <div class="col-2">
                                        <label><?=$_lang['user']?>:</label>
                                        <select class="select2" style="width: 100%;" name="user_id">
                                            <option value="">-- <?=$_lang['all']?></option>
                                            <?php
                                            if ($users):
                                                foreach ($users as $user):
                                                    $sel = $user['id'] == @$_GET['user_id'] ? ' selected' : '';
                                            ?>
                                            <option value="<?=$user['id']?>"<?=$sel?>><?=$user['login']?></option>
                                            <?php
                                                endforeach;
                                            endif;
                                            ?>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label><?=$_lang['client']?>:</label>
                                        <input type="text" class="form-control" name="client_name" value="<?=@$_GET['client_name']?>">
                                    </div>
                                    <div class="col-2">
                                        <label style="width: 100%;">&nbsp;</label>
                                        <button type="submit" class="btn btn-primary"><?=$_lang['submit']?></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
                <div class="col-12">
                    <div class="card">
                        <h4 class="card-header">
                            <?=$_lang['sales_on_the_period']?>
                        </h4>
                        <div class="card-body no-padding">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th><?=$_lang['client']?></th>
                                        <th><?=$_lang['date']?></th>
                                        <th><?=$_lang['amount']?></th>
                                        <th><?=$_lang['amount_outstanding']?></th>
                                        <th><?=$_lang['order_type']?></th>
                                        <th><?=$_lang['status']?></th>
                                    </tr>
                                </thead>
                                <tbody>
                                <?php
                                if ($orders):
                                    foreach ($orders as $order):
                                ?>
                                    <tr style="cursor: pointer;" onclick="orderDetails('<?=$order['id']?>');">
                                        <td><?=$order['client_name']?></td>
                                        <td><?=format_date($order['date_create'], 'd/m/Y', true)?></td>
                                        <td class="text-right"><?=format_money($order['amount'], 'kr ')?></td>
                                        <td class="text-right"><?=format_money($order['amount_outstanding'], 'kr ')?></td>
                                        <td><?=$order_types[$order['order_type']]?></td>
                                        <td><?=$order_status[$order['status']]?></td>
                                    </tr>
                                <?php
                                    endforeach;
                                else:?>
                                    <tr>
                                        <td colspan="7"><em><?=$_lang['no_results']?></em></td>
                                    </tr>
                                <?php endif?>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- /.card -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.content-wrapper -->
    <?php get_template('scripts')?>

    <script type="text/javascript">
    function orderDetails(order_id) {
        window.location = wwwroot + '/terminal/show/' + order_id;
    }
    $(function(){
        var start = moment();//.subtract(6, 'days');
        var end = moment();

        $('#period').daterangepicker({
            // startDate: start,
            // endDate: end,
            "locale": {
                "format": "DD/MM/YYYY",
                "separator": " - ",
            },
            ranges: {
               'Today': [moment(), moment()],
               'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
               'Last 7 Days': [moment().subtract(6, 'days'), moment()],
               'Last 30 Days': [moment().subtract(29, 'days'), moment()],
               'This Month': [moment().startOf('month'), moment().endOf('month')],
               'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        });

        // cb(start, end);

    });
    </script>

</body>
</html>