<!DOCTYPE html>
<html lang="en">
<head>
	<?php get_template('head')?>
    <style>
    img {
        /*padding-bottom: 30px*/
    }
    .login, .footer {
        color: #fff;
    }
    .btn-group {
        margin-top: 20px;
    }
    .home {
        background-image: url("<?=WEBROOT.'/images/home-background.png' ?>");
        background-size: cover;
        background-position: left top;
        padding: 50px 50px 10px 50px;
        border: 2px solid #ccc
    }
    .footer {
        color: #000;
        margin-top: 120px;
        margin-bottom: 0px;
    }
    </style>
</head>
<body>
<div class="loader"></div>
<div class="container home" style="margin-top: 100px;">
    <div class="row">
        <div class="col-md-12">
            <div class="login">
                <img src="<?=WEBROOT.'/images/logo-01.png' ?>" width="180">
                <br>
                <div class="btn-group" role="group">
                    <button class="btn btn-success" onclick="openModal('/setup/index');"><?=$_lang['admin']?></button>
                    <button class="btn btn-success" onclick="openModal('/terminal/index');"><?=$_lang['pdv']?></button>
                    <button class="btn btn-success" onclick="openModal();"><?=$_lang['cash_balance']?></button>
                    <button class="btn btn-success" onclick="openModal();"><?=$_lang['delivery']?></button>
                </div>
            </div>
        </div><!-- /.col -->
        <div class="col-md-12">
            <div class="footer">
                <p><br><br>
                    <t class="translate">Store data is provided by</t> Easy Step AS<br>
                    <a href="#">www.easy-step.no</a><br>
                    Brukerstottle. 72 60 60 60 - <a href="#">support@easy-step.no</a>
                </p>
            </div>
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.container -->

<div class="modal" tabindex="-1" role="dialog" id="myModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="modalContent">
            <form id="form-login">
                <div class="modal-header">
                    <h3 class="modal-title"><?=$_lang['user_login']?></h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-12">
                            <input type="text" name="redirect-to" id="redirect-to" style="display: none">
                            <label for="user" class="label-style"><?=$_lang['choose_user']?>:</label>
                            <select name="user_id" id="user" style="width: 100%;" class="select2 form-control">
                                <?php foreach ($users as $value):?>
                                <option value="<?=$value['id']?>"><?=$value['login']?></option>
                                <?php endforeach ?>
                            </select>
                            <label id="label-password" for="password-user" class="label-style"><?=$_lang['password']?>:</label>
                            <input type="password" name="secret" id="password-user" class="form-control open-keyboard">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-light" data-dismiss="modal"><?=$_lang['cancel']?></button>
                    <button type="submit" class="btn btn-success"><?=$_lang['login']?></button>
                </div>
            </form>
        </div>
    </div>
</div>

<?php get_template('scripts')?>

<script type="text/javascript">
var url_redirect = '';
function openModal(value){
    url_redirect = wwwroot+value;
    $('#myModal').modal({show : true});
}

$(document).on('submit', '#form-login', function(e){
    e.preventDefault();
    $('#modalContent').loading();
    $.ajax({
        url : wwwroot+"/session/login",
        type: "POST",
        dataType: 'JSON',
        data: $('#form-login').serialize(),
        success: function(data){
            console.log(data);
            if (data.status.code == 200) {
                window.location = url_redirect;
            }
            else if (data.status.code == 401) {
                $.alert({
                    type: 'red',
                    title: 'Erro ao logar!',
                    content: 'Usuário e senha não correspondem',
                    theme: 'light'
                });
                $('#modalContent').loading('stop');
            }
            else {
                $.alert({
                    type: 'red',
                    title: 'Erro ao logar!',
                    content: 'Erro interno',
                    theme: 'light'
                });
                $('#modalContent').loading('stop');
            }
        },
        error: function (a, b, c){ 
            console.log(a, b, c)         
            alert('Unable to connect, please contact support or try again.');
            console.log(jqXHR.responseText);
        }
    });
});
</script>

</body>
</html>